<ng-template #accomplishmentType let-accomplishmentType="accomplishmentType" let-filtered="filtered">
  <div [ngClass]="portfolioService.toolbarService.pagination ? 'tryKeepTogether' : ''">
    <app-header [key]="accomplishmentType" [headingLevel]="3" [nextSortElement]="nextSort"></app-header>
    <div id="{{ entities[accomplishmentType]?.content }}" class="collapse show">
      <app-header [key]="accomplishmentType + ' Index'" [headingLevel]="4" [editModeOnly]="true"></app-header>
      <div #nextSort id="{{ entities[accomplishmentType + ' Index']?.content }}" class="collapse show">
        <ng-container
          *ngFor="let accomplishment of truncatorService.truncated(sorterService.sorted(filtered)); let i = index; trackBy: trackByFn">
          <ng-container *ngIf="i > 0">&nbsp;{{ frequenciesDivider }} </ng-container>
          <ng-container *ngComponentOutlet="CourseIndexComponent;injector:getInjector(accomplishment, i)">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="truncatorService.remainingLength(filtered) > 0">
          <span class="more">+{{ truncatorService.remainingLength(filtered) }}&nbsp;more… </span>
        </ng-container>
      </div>

      <app-header [key]="accomplishmentType + ' List'" [headingLevel]="4" [editModeOnly]="true"></app-header>
      <div id="{{ entities[accomplishmentType + ' List']?.content }}" class="collapse show">
        <div
          *ngFor="let accomplishment of truncatorService.truncated(sorterService.sorted(filtered)); trackBy: trackByFn">
          <ng-container *ngIf="accomplishmentType === 'Languages'; else elseBlockName">
            <ng-container *ngComponentOutlet="CourseListComponent;injector:getInjector(accomplishment)"></ng-container>
          </ng-container>
          <ng-template #elseBlockName>
            <ng-container *ngComponentOutlet="CourseComponent;injector:getInjector(accomplishment)"></ng-container>
          </ng-template>
        </div>
        <ng-container *ngIf="truncatorService.remainingLength(filtered) > 0">
          <div class="more">+{{ truncatorService.remainingLength(filtered) }}&nbsp;more… </div>
        </ng-container>
      </div>

      <ng-container *ngIf="accomplishmentType === 'Languages'">
        <app-header [key]="accomplishmentType + ' Chart'" [headingLevel]="4" [toggles]="[ToggleKind.Responsive]"
          [editModeOnly]="true"></app-header>
        <div id="{{ entities[accomplishmentType + ' Chart']?.content }}" class="collapse show">
          <ng-container *ngComponentOutlet="LanguageComponent;injector:getInjector({})"></ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<div [ngClass]="portfolioService.toolbarService.pagination ? 'tryKeepTogether' : ''">
  <div [ngClass]="portfolioService.toolbarService.getColumnsClass(entities['Accomplishments']?.columns!)">
    <app-header key="Accomplishments" [headingLevel]="2" [toggles]="[ToggleKind.ContentColumns]"></app-header>
    <div id="{{ entities['Accomplishments']?.content }}" class="collapse show">
      <div [ngClass]="portfolioService.toolbarService.getColumnsClass(entities['Accomplishments']?.contentColumns!)">
        <ng-container
          *ngTemplateOutlet="accomplishmentType!;context:{accomplishmentType: 'Certifications', filtered: filtered.Certifications}">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="accomplishmentType!;context:{accomplishmentType: 'Languages', filtered: filtered.Languages}">
        </ng-container>

        <app-general-timeline-map></app-general-timeline-map>

        <ng-container
          *ngTemplateOutlet="accomplishmentType!;context:{accomplishmentType: 'Courses', filtered: filtered.Courses}">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="accomplishmentType!;context:{accomplishmentType: 'Organizations', filtered: filtered.Organizations}">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="accomplishmentType!;context:{accomplishmentType: 'Volunteering', filtered: filtered.Volunteering}">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="accomplishmentType!;context:{accomplishmentType: 'Vacation', filtered: filtered.Vacation}">
        </ng-container>

        <app-publication></app-publication>
      </div>
    </div>
  </div>
</div>