<ng-template #accomplishmentType let-accomplishmentType="accomplishmentType" let-filtered="filtered">
  <div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
    <header id="{{ entities[accomplishmentType]?.key }}" #clickableAccomplishmentTypes (keypress)="keypress($event)"
      (click)="saveToggle($event)" data-toggle="collapse"
      [attr.data-target]="'#' + entities[accomplishmentType]?.content"
      [attr.aria-labelledby]="tabName(accomplishmentType)">
      <h3>
        <ng-container *ngTemplateOutlet="headerLink!;context:{key: accomplishmentType}"></ng-container>
        {{ entities[accomplishmentType]?.section }}
        <ng-container
          *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue(accomplishmentType)}">
        </ng-container>
      </h3>
    </header>
    <div id="{{ entities[accomplishmentType]?.content }}" class="collapse show">
      <header id="{{ entities[accomplishmentType + ' Index']?.key }}" #clickableAccomplishmentTypeIndex
        (keypress)="keypress($event)" (click)="saveToggle($event)" data-toggle="collapse"
        [attr.data-target]="'#' + entities[accomplishmentType + ' Index']?.content"
        [attr.aria-labelledby]="tabName(accomplishmentType + ' Index')">
        <h4 class="print-hidden">
          <ng-container *ngTemplateOutlet="headerLink!;context:{key: accomplishmentType + ' Index'}"></ng-container>
          {{ entities[accomplishmentType + ' Index']?.section }}
          <ng-container
            *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue(accomplishmentType + ' Index')}">
          </ng-container>
        </h4>
      </header>
      <div id="{{ entities[accomplishmentType + ' Index']?.content }}" class="collapse show">
        <ng-container *ngFor="let accomplishment of truncated(filtered); let i = index; trackBy: trackByFn">
          <ng-container *ngIf="i > 0">&nbsp;{{ frequenciesDivider }} </ng-container>
          <ng-container *ngComponentOutlet="CourseIndexComponent;injector:getInjector(accomplishment, i)">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="remaining(filtered).length > 0">
          <span class="more">+{{ remaining(filtered).length }}&nbsp;more… </span>
        </ng-container>
      </div>

      <header id="{{ entities[accomplishmentType + ' List']?.key }}" #clickableAccomplishmentTypeList
        (keypress)="keypress($event)" (click)="saveToggle($event)" data-toggle="collapse"
        [attr.data-target]="'#' + entities[accomplishmentType + ' List']?.content"
        [attr.aria-labelledby]="tabName(accomplishmentType + ' List')">
        <h4 class="print-hidden">
          <ng-container *ngTemplateOutlet="headerLink!;context:{key: accomplishmentType + ' List'}"></ng-container>
          {{ entities[accomplishmentType + ' List']?.section }}
          <ng-container
            *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue(accomplishmentType + ' List')}">
          </ng-container>
        </h4>
      </header>
      <div id="{{ entities[accomplishmentType + ' List']?.content }}" class="collapse show">
        <div *ngFor="let accomplishment of truncated(filtered); trackBy: trackByFn">
          <ng-container *ngIf="accomplishmentType === 'Languages'; else elseBlockName">
            <ng-container *ngComponentOutlet="CourseListComponent;injector:getInjector(accomplishment)"></ng-container>
          </ng-container>
          <ng-template #elseBlockName>
            <ng-container *ngComponentOutlet="CourseComponent;injector:getInjector(accomplishment)"></ng-container>
          </ng-template>
        </div>
        <ng-container *ngIf="remaining(filtered).length > 0">
          <div class="more">+{{ remaining(filtered).length }}&nbsp;more… </div>
        </ng-container>
      </div>

      <ng-container *ngIf="accomplishmentType === 'Languages'">
        <header id="{{ entities[accomplishmentType + ' Chart']?.key }}" #clickableAccomplishmentTypeChart
          (keypress)="keypress($event)" (click)="saveToggle($event)" data-toggle="collapse"
          [attr.data-target]="'#' + entities[accomplishmentType + ' Chart']?.content"
          [attr.aria-labelledby]="tabName(accomplishmentType + ' Chart')">
          <h4 class="print-hidden">
            <ng-container *ngTemplateOutlet="headerLink!;context:{key: accomplishmentType + ' Chart'}"></ng-container>
            {{ entities[accomplishmentType + ' Chart']?.section }}
            <ng-container
              *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue(accomplishmentType + ' Chart')}">
            </ng-container>
          </h4>
        </header>
        <div id="{{ entities[accomplishmentType + ' Chart']?.content }}" class="collapse show">
          <ng-container *ngComponentOutlet="LanguageComponent;injector:getInjector({})"></ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
  <div [ngClass]="portfolioService.getColumnsClass(entities['Accomplishments']?.columns!)">
    <header id="{{ entities['Accomplishments']?.key }}" #clickableAccomplishments (keypress)="keypress($event)"
      (click)="saveToggle($event); updateShouldCollapseProjectsAccomplishmentHandler($event)" data-toggle="collapse"
      [attr.data-target]="'#' + entities['Accomplishments']?.content"
      [attr.aria-labelledby]="tabName('Accomplishments')">
      <h2 [class.decorations]="decorations">
        <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Accomplishments'}"></ng-container>
        {{ entities['Accomplishments']?.section }}
        <ng-container
          *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('Accomplishments')}">
        </ng-container>

        <span class="toolbar">
          <form class="form-inline">
            <ng-container *ngTemplateOutlet="portfolioService.columnsToggles!;context:{key: 'Accomplishments'}">
            </ng-container>
          </form>
        </span>
      </h2>
    </header>
    <div id="{{ entities['Accomplishments']?.content }}" class="collapse show">
      <div [ngClass]="portfolioService.getColumnsClass(entities['Accomplishments']?.contentColumns!)">
        <ng-container
          *ngTemplateOutlet="accomplishmentType!;context:{accomplishmentType: 'Certifications', filtered: filtered.Certifications}">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="accomplishmentType!;context:{accomplishmentType: 'Languages', filtered: filtered.Languages}">
        </ng-container>

        <app-general-timeline-map [sectionCounter]="sectionCounter" [headerLink]="headerLink">
        </app-general-timeline-map>

        <ng-container
          *ngTemplateOutlet="accomplishmentType!;context:{accomplishmentType: 'Courses', filtered: filtered.Courses}">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="accomplishmentType!;context:{accomplishmentType: 'Organizations', filtered: filtered.Organizations}">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="accomplishmentType!;context:{accomplishmentType: 'Volunteering', filtered: filtered.Volunteering}">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="accomplishmentType!;context:{accomplishmentType: 'Vacation', filtered: filtered.Vacation}">
        </ng-container>

        <app-publication [sectionCounter]="sectionCounter" [headerLink]="headerLink"></app-publication>
      </div>
    </div>
  </div>
</div>