<ng-template #menu let-position="position">
  <app-navigation [position]="position"></app-navigation>
</ng-template>

<ng-template #search let-position="position">
  <app-search [position]="position"></app-search>
</ng-template>

<ng-template #defaultHeaderLink></ng-template>
<ng-template #headerLink let-key="key">
  <a [ngClass]="[(portfolioService.entities[key]?.class ? portfolioService.entities[key]?.class : ''), 'header-link']"
    #clickable (keypress)="inputService.keypress($event)" (click)="$event.stopPropagation()"
    title="{{ uiService.linkToThisText }}" href="/{{ uiService.componentName }}#{{ key }}">
    <span class="text-icons d-print-none">{{ uiService.linkToThisSymbol }}</span>
  </a>
</ng-template>

<ng-template #defaultSectionCounter></ng-template>
<ng-template #sectionCounter let-count="count">
  <ng-container *ngIf="count > 0">
    <span class="ghost d-print-none">
      ({{ count }})
    </span>
  </ng-container>
</ng-template>

<ng-template #columnsToggles let-key="key">
  <app-toggle [toggleKind]="ToggleKind.ContentColumns" [entityKey]="key" [context]="{
        value: portfolioService.entities[key]?.contentColumns,
        displayValue: portfolioService.entities[key]?.displayContentColumns,
        model: portfolioService.columns[portfolioService.entities[key]?.contentColumns!],
        subject: portfolioService,
        propertyName: 'portfolioService.columns.' + portfolioService.entities[key]?.contentColumns,
        sliderClass: 'slider-orange'
      }">
  </app-toggle>
  <ng-container *ngIf="['Curriculum Vitae', 'Project Portfolio', 'Project Summary'].includes(key)">
    <app-toggle [toggleKind]="ToggleKind.LayoutColumns" [entityKey]="key" [context]="{
          value: portfolioService.entities[key]?.layoutColumns,
          displayValue: portfolioService.entities[key]?.displayLayoutColumns,
          model: portfolioService.columns[portfolioService.entities[key]?.layoutColumns!],
          subject: portfolioService,
          propertyName: 'portfolioService.columns.' + portfolioService.entities[key]?.layoutColumns,
          sliderClass: 'slider-magenta'
        }">
    </app-toggle>
  </ng-container>
</ng-template>

<title>{{ portfolioService.ui['CV Generator']?.text }}</title>

<nav role="navigation"
  class="navbar navbar-expand-md navbar-light shadow-sm p-2 mb-2 background-color rounded d-print-none">

  <a class="navbar-brand d-flex d-md-block align-items-baseline" href="/"
    [attr.aria-label]="portfolioService.ui['CV Generator']?.text">
    <img class="navbar-brand-img" src="{{ uiService.getAssetUri('CV Generator logo.png') }}"
      onerror="style.display='none'" alt="" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false"
    [attr.aria-label]="uiService.uiText('Toggle navigation')">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div *ngIf="portfolioService.uiDefined() && (portfolioService.cvDefined()
      || portfolioService.projectsDefined() || portfolioService.generalTimelineDefined())" class="flex-grow-1">
      <ng-container *ngTemplateOutlet="menu!;context:{position: ''}"></ng-container>
      <ng-container *ngTemplateOutlet="search!;context:{position: ''}"></ng-container>
    </div>
  </div>
</nav>

<main role="main" class="container-fluid">
  <div *ngIf="portfolioService.entitiesDefined() && portfolioService.uiDefined()">
    <div *ngIf="portfolioService.cvDefined()">
      <div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
        <header id="{{ portfolioService.entities['Curriculum Vitae']?.key }}" #clickableCurriculumVitae
          (keypress)="inputService.keypress($event)" (click)="persistenceService.saveToggle($event)"
          data-toggle="collapse" [attr.data-target]="'#' + portfolioService.entities['Curriculum Vitae']?.content"
          [attr.aria-labelledby]="uiService.tabName('Curriculum Vitae')">
          <h1 [class.decorations]="portfolioService.decorations">
            <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Curriculum Vitae'}"></ng-container>
            {{ portfolioService.entities['Curriculum Vitae']?.section }}
            <ng-container
              *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('Curriculum Vitae')}">
            </ng-container>

            <span class="toolbar">
              <form class="form-inline">
                <ng-container *ngTemplateOutlet="portfolioService.columnsToggles!;context:{key: 'Curriculum Vitae'}">
                </ng-container>
                <app-truncator class="form-inline" #truncator [truncatorKind]="TruncatorKind.Cv"></app-truncator>
                <app-toggle [toggleKind]="ToggleKind.Pagination" entityKey="Curriculum Vitae" [context]="{
                    value: 'Pagination',
                    displayValue: 'pagination',
                    model: portfolioService.pagination,
                    subject: portfolioService,
                    propertyName: 'pagination',
                    sliderClass: 'slider'
                  }">
                </app-toggle>
                <app-toggle [toggleKind]="ToggleKind.Decorations" entityKey="Curriculum Vitae" [context]="{
                    value: 'Decorations',
                    displayValue: 'decorations',
                    model: portfolioService.decorations,
                    subject: portfolioService,
                    propertyName: 'decorations',
                    sliderClass: 'slider-cyan'
                  }">
                </app-toggle>
              </form>
            </span>
          </h1>
        </header>
        <div id="{{ portfolioService.entities['Curriculum Vitae']?.content }}" class="collapse show">
          <div
            [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Curriculum Vitae']?.contentColumns!)">
            <div [ngClass]="portfolioService.getColumnsClass('Curriculum Vitae')">
              <app-cv [sectionCounter]="sectionCounter" [headerLink]="headerLink"></app-cv>
            </div>
            <hr>

            <div #projectsAccomplishment *ngIf="portfolioService.projectsDefined()"
              class='{{ accomplishmentsService.projectsAccomplishmentClassList }}'>
              <div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
                <header id="{{ portfolioService.entities['Gantt Chart Map']?.key }}" #clickableGanttChartMap
                  (keypress)="inputService.keypress($event)" (click)="persistenceService.saveToggle($event)"
                  data-toggle="collapse"
                  [attr.data-target]="'#' + portfolioService.entities['Gantt Chart Map']?.content"
                  [attr.aria-labelledby]="uiService.tabName('Gantt Chart Map')">
                  <h3>
                    <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Gantt Chart Map'}"></ng-container>
                    {{ portfolioService.entities['Gantt Chart Map']?.section }}
                    <em class="fas fa-chart-line"></em>
                    <ng-container
                      *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('Gantt Chart Map')}">
                    </ng-container>
                  </h3>
                </header>
                <div id="{{ portfolioService.entities['Gantt Chart Map']?.content }}" class="collapse show">
                  <div class="columns1">
                    <app-project-gantt-chart-map></app-project-gantt-chart-map>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="portfolioService.projectsDefined()">
      <div class="page-break" [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
        <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Project Summary']?.columns!)">
          <header id="{{ portfolioService.entities['Project Summary']?.key }}" #clickableProjectSummary
            (keypress)="inputService.keypress($event)" (click)="persistenceService.saveToggle($event)"
            data-toggle="collapse" [attr.data-target]="'#' + portfolioService.entities['Project Summary']?.content"
            [attr.aria-labelledby]="uiService.tabName('Project Summary')">
            <h1 [class.decorations]="portfolioService.decorations">
              <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Project Summary'}"></ng-container>
              {{ portfolioService.entities['Project Summary']?.section }}
              <ng-container
                *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('Project Summary')}">
              </ng-container>

              <span class="toolbar">
                <form class="form-inline">
                  <ng-container *ngTemplateOutlet="portfolioService.columnsToggles!;context:{key: 'Project Summary'}">
                  </ng-container>
                  <app-truncator class="form-inline" #truncator [truncatorKind]="TruncatorKind.Ps"></app-truncator>
                  <ng-container *ngIf="portfolioService.decorations; else elseBlock">
                    <span class="d-print-none extra-function toggle_radio" role="radiogroup"
                      [attr.aria-labelledby]="uiService.label('viewMode')" #clickableModeDecorated
                      (keypress)="inputService.keypress($event)" (click)="$event.stopPropagation()"
                      title="{{ portfolioService.ui['Mode']?.text }}">
                      <input #tagCloudElement type="radio" class="form-control bd-highlight toggle_option"
                        id="first_toggle" [(ngModel)]="portfolioService.tagCloud" [value]="TagCloudDisplayMode.tagCloud"
                        name="toggle_option" role="radio" [attr.aria-labelledby]="uiService.label('tag cloud')" title=""
                        (keypress)="inputService.keypress($event)"
                        (click)="portfolioService.tagCloud=TagCloudDisplayMode.tagCloud">
                      <input #chartElement type="radio" class="form-control bd-highlight toggle_option"
                        id="second_toggle" [(ngModel)]="portfolioService.tagCloud" [value]="TagCloudDisplayMode.chart"
                        name="toggle_option" role="radio" [attr.aria-labelledby]="uiService.label('chart')" title=""
                        (keypress)="inputService.keypress($event)"
                        (click)="portfolioService.tagCloud=TagCloudDisplayMode.chart">
                      <input #bothElement type="radio" class="form-control bd-highlight toggle_option" id="third_toggle"
                        [(ngModel)]="portfolioService.tagCloud" [value]="TagCloudDisplayMode.both" name="toggle_option"
                        role="radio" [attr.aria-labelledby]="uiService.label('both')" title=""
                        (keypress)="inputService.keypress($event)"
                        (click)="portfolioService.tagCloud=TagCloudDisplayMode.both">
                      <label id="{{ uiService.label('tag cloud') }}" for="first_toggle" class="form-label">
                        <p>{{ portfolioService.ui['tag cloud']?.text }}</p>
                      </label>
                      <label id="{{ uiService.label('chart') }}" for="second_toggle" class="form-label">
                        <p>{{ portfolioService.ui['chart']?.text }}</p>
                      </label>
                      <label id="{{ uiService.label('both') }}" for="third_toggle" class="form-label">
                        <p>{{ portfolioService.ui['both']?.text }}</p>
                      </label>
                      <div class="toggle_option_slider">
                      </div>
                    </span>
                  </ng-container>
                  <ng-template #elseBlock>
                    <span class="d-print-none extra-function" role="radiogroup"
                      [attr.aria-labelledby]="uiService.label('viewMode')" #clickableMode
                      (keypress)="inputService.keypress($event)" (click)="$event.stopPropagation()" title="">
                      <span id="{{ uiService.label('viewMode') }}" class="input-group-addon">{{
                        portfolioService.ui['Mode']?.text }}:</span>

                      <label id="{{ uiService.label('tag cloud') }}" for="tag cloud radio"
                        class="form-label radio-inline" #clickableTagCloud (keypress)="inputService.keypress($event)"
                        (click)="portfolioService.tagCloud=TagCloudDisplayMode.tagCloud">
                        <input type="radio" class="form-control bd-highlight" id="tag cloud radio"
                          [(ngModel)]="portfolioService.tagCloud" [value]="TagCloudDisplayMode.tagCloud" name="options"
                          role="radio" [attr.aria-labelledby]="uiService.label('tag cloud')">{{
                        portfolioService.ui['tag cloud']?.text }}
                      </label>
                      <label id="{{ uiService.label('chart') }}" for="chart radio" class="form-label radio-inline"
                        #clickableChart (keypress)="inputService.keypress($event)"
                        (click)="portfolioService.tagCloud=TagCloudDisplayMode.chart">
                        <input type="radio" class="form-control bd-highlight" id="chart radio"
                          [(ngModel)]="portfolioService.tagCloud" [value]="TagCloudDisplayMode.chart" name="options"
                          role="radio" [attr.aria-labelledby]="uiService.label('chart')">{{
                        portfolioService.ui['chart']?.text }}
                      </label>
                      <label id="{{ uiService.label('both') }}" for="both radio" class="form-label radio-inline"
                        #clickableBoth (keypress)="inputService.keypress($event)"
                        (click)="portfolioService.tagCloud=TagCloudDisplayMode.both">
                        <input type="radio" class="form-control bd-highlight" id="both radio"
                          [(ngModel)]="portfolioService.tagCloud" [value]="TagCloudDisplayMode.both" name="options"
                          role="radio" [attr.aria-labelledby]="uiService.label('both')">{{
                        portfolioService.ui['both']?.text }}
                      </label>
                    </span>
                  </ng-template>
                </form>
              </span>
            </h1>
          </header>
          <div id="{{ portfolioService.entities['Project Summary']?.content }}" class="collapse show">
            <div
              [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Project Summary']?.contentColumns!)">
              <app-project-summary [sectionCounter]="sectionCounter" [headerLink]="headerLink"></app-project-summary>
              <hr>
            </div>
          </div>
        </div>
      </div>

      <div class="page-break" [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
        <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Project Portfolio']?.columns!)">
          <header id="{{ portfolioService.entities['Project Portfolio']?.key }}" #clickableProjectPortfolio
            (keypress)="inputService.keypress($event)" (click)="persistenceService.saveToggle($event)"
            data-toggle="collapse" [attr.data-target]="'#' + portfolioService.entities['Project Portfolio']?.content"
            [attr.aria-labelledby]="uiService.tabName('Project Portfolio')">
            <h1 [class.decorations]="portfolioService.decorations">
              <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Project Portfolio'}"></ng-container>
              {{ portfolioService.entities['Project Portfolio']?.section }}
              <ng-container
                *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('Project Portfolio')}">
              </ng-container>

              <span class="toolbar">
                <form class="form-inline">
                  <ng-container *ngTemplateOutlet="portfolioService.columnsToggles!;context:{key: 'Project Portfolio'}">
                  </ng-container>
                  <app-truncator class="form-inline" #truncator [truncatorKind]="TruncatorKind.Pp"></app-truncator>
                </form>
              </span>
            </h1>
          </header>
          <div id="{{ portfolioService.entities['Project Portfolio']?.content }}" class="collapse show">
            <div
              [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Project Portfolio']?.contentColumns!)">
              <app-project [sectionCounter]="sectionCounter" [headerLink]="headerLink"></app-project>
              <hr>
            </div>
          </div>
        </div>
      </div>

      <app-general-timeline [sectionCounter]="sectionCounter" [headerLink]="headerLink"></app-general-timeline>

      <div class="page-break">
      </div>
    </div>
  </div>
</main>

<aside role="complementary" class="container-fluid">
  <div *ngIf="(portfolioService.cvDefined() || portfolioService.projectsDefined()) && portfolioService.uiDefined()"
    class="d-print-none">
    <button id="goToTopBtn" type="button" class="btn btn-square close p-0 bd-highlight"
      [attr.aria-label]="portfolioService.ui['Go to top']?.text" #clickableGoToTop
      (keypress)="inputService.keypress($event)" (click)="documentService.goToTop()"
      title="{{ portfolioService.ui['Go to top']?.text }}">
      <img src="{{ uiService.getAssetUri('back_to_top.png') }}" onerror="style.display='none'" class="btn-square"
        alt="{{ portfolioService.ui['Up']?.text }}" />
    </button>
  </div>
</aside>

<footer role="contentinfo" class="container-fluid">
  <div *ngIf="(portfolioService.cvDefined() || portfolioService.projectsDefined()) && portfolioService.uiDefined()"
    class="d-print-none">

    <app-pipeline [sectionCounter]="sectionCounter" [headerLink]="headerLink">
    </app-pipeline>
    <app-service-catalog [sectionCounter]="sectionCounter" [headerLink]="headerLink">
    </app-service-catalog>
    <app-version [sectionCounter]="sectionCounter" [headerLink]="headerLink">
    </app-version>

    <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Navigation']?.columns!)">
      <header id="{{ portfolioService.entities['Navigation']?.key }}" #clickable
        (keypress)="inputService.keypress($event)" (click)="persistenceService.saveToggle($event)"
        data-toggle="collapse" [attr.data-target]="'#' + portfolioService.entities['Navigation']?.content"
        [attr.aria-labelledby]="uiService.tabName('Navigation')">
        <h1 [class.decorations]="portfolioService.decorations">
          <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Navigation'}"></ng-container>
          {{ portfolioService.entities['Navigation']?.section }}
          <ng-container
            *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('Navigation') }">
          </ng-container>

          <span class="toolbar">
            <form class="form-inline">
              <ng-container
                *ngTemplateOutlet="portfolioService.columnsToggles!;context:{key: portfolioService.entities['Navigation']?.key}">
              </ng-container>
            </form>
          </span>
        </h1>
      </header>
      <div id="{{ portfolioService.entities['Navigation']?.content }}" class="collapse show">
        <ng-container *ngTemplateOutlet="search!;context:{position: ' bottom'}"></ng-container>
        <span class="d-flex">
          <app-theme-changer class="form-group flex-grow-1 pr-3 mr-3 border-right"></app-theme-changer>
          <app-settings-sharer></app-settings-sharer>
        </span>

        <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Navigation']?.contentColumns!)">
          <ng-container *ngTemplateOutlet="menu!;context:{position: ' bottom'}"></ng-container>
        </div>
        <hr>
      </div>
    </div>

    <app-footer [sectionCounter]="sectionCounter" [headerLink]="headerLink">
    </app-footer>
  </div>
</footer>