@media print {
    .collapsed {
        display: none;
    }
    div[class^="col-"].cell-key {
        text-align: right;
    } 
    
    @page {
        margin-top: 25mm;
    }
    body {
        margin: 0mm 25mm 36.7mm 25mm;
    }
}

