@mixin columns($size) {
    column-count: $size; 
    -moz-column-count: $size;
}

@media only screen and (min-width:768px) {
    /* styles for browsers larger than 768px; (24 chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(2);
    }
}

@media only screen and (min-width:960px) {
    /* styles for browsers larger than 960px; (30 chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(3);
    }
}

@media only screen and (min-width:1440px) {
    /* styles for browsers larger than 1440px; (45 chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(3);
    }
}

@media only screen and (min-width:2000px) {
    /* for sumo sized (mac) screens: 2K, QXGA (63+ chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(4);
    }
}

@media only screen and (min-width:2560px) {
    /* for UWHD, WQHD, WQXGA sized screens (80 chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(4);
    }
}

@media only screen and (min-width:3440px) {
    /* for UWQHD, UHD-1 sized screens (107+ chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(5);
    }
}

@media only screen and (min-width:4096px) {
    /* for 4K sized screens and up (128 chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(6);
    }
}

@media only screen and (max-device-width:480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) (15 chunks)*/
}

@media only screen and (device-width:768px) {
    /* default iPad screens (24 chunks)*/
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only (15+ chunks)*/
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only (32 chunks)*/

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(3);
    }
}

@mixin columns($size) {
    column-count: $size; 
    -moz-column-count: $size;
}

@media only screen and (min-width:768px) {
    /* styles for browsers larger than 768px; (24 chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(2);
    }
}

@media only screen and (min-width:960px) {
    /* styles for browsers larger than 960px; (30 chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(3);
    }
}

@media only screen and (min-width:1440px) {
    /* styles for browsers larger than 1440px; (45 chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(3);
    }
}

@media only screen and (min-width:2000px) {
    /* for sumo sized (mac) screens: 2K, QXGA (63+ chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(4);
    }
}

@media only screen and (min-width:2560px) {
    /* for UWHD, WQHD, WQXGA sized screens (80 chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(4);
    }
}

@media only screen and (min-width:3440px) {
    /* for UWQHD, UHD-1 sized screens (107+ chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(5);
    }
}

@media only screen and (min-width:4096px) {
    /* for 4K sized screens and up (128 chunks) */

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(6);
    }
}

@media only screen and (max-device-width:480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) (15 chunks)*/
}

@media only screen and (device-width:768px) {
    /* default iPad screens (24 chunks)*/
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only (15+ chunks)*/
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only (32 chunks)*/

    div[class^="col-"].cell-key {
        text-align: right;
    }

    main {
        @include columns(3);
    }
}
