$primary-color: #101010;
$outline-color: royalblue;
$dark-outline-color: darken($outline-color, 20%);
$hover-color: rgba(0, 0, 0, .03);
$inactive-outline-color: $hover-color;
$ghost-outline-color: rgba($outline-color, 0.3);

// custom color palette
$header-fore-color: grey;
$value-fore-color: $primary-color;
$faded-fore-color: lighten($primary-color, 10%);
$cell-title-color: azure; //lightgreen
$cell-capacity-color: lightblue;
$cell-normal-color: #DDEEFF; //lightblue
$cell-feature-color: mistyrose; //lightpink
$cell-faded-color: #EEEEEE; //lightgrey
$border-color: #DDEEFF;

// original color palette
$header-fore-color: #a5a5a5;
$value-fore-color: black;
$faded-fore-color: $value-fore-color;
$cell-title-color: #eaf1dd;
$cell-capacity-color: #c6d9f1;
$cell-normal-color: #daeef3;
$cell-feature-color: #f2dbdb;
$cell-faded-color: #efefef;
$border-color: #d9d9d9;

// enhanced palette
$value-fore-color: $primary-color;
$faded-fore-color: lighten($primary-color, 50%);
$header-fore-color: darken($header-fore-color, 20%);

// list colors
$list-back-tone: black;
$list-back-color: rgba($list-back-tone, .0);

// age colors
$modern-age-color: $list-back-color;
$renaissance-color: rgba($list-back-tone, .05);
$dark-ages-color: rgba($list-back-tone, .10);

$table-border-color: rgba(white, .50);

// column colors
// $rule-color: #8c8b8b; // default
$rule-color: $ghost-outline-color;  // outline consistent
