$outline-color: royalblue;
$highlight-color: rgba($outline-color, .2);
$extra-function-background-color: unquote('#F0F0F0A0');
$on-color: unquote('#21F39660');
$off-color: $extra-function-background-color; // #F3219660;