$margin: 4px;
$button-width: 85px;
$button-height: 26px;

@mixin border-radius($border-radius) {
  border-radius: $border-radius;
}

$transition-duration: .4s;

@mixin transition() {
  transition: all $transition-duration ease;
}
