@use "./color.scss" as color;
@use "./geometry.scss" as geometry;

$button-count: 3;
$border-radius: 50px;

.toggle_radio {
  position: relative;
  background: color.$extra-function-background-color;
  margin: geometry.$margin auto;
  overflow: hidden;
  @include geometry.border-radius($border-radius);
  height: geometry.$button-height + geometry.$margin*2;
  width: geometry.$margin + geometry.$button-width*$button-count + geometry.$margin;
  padding: geometry.$margin;
}

.toggle_radio>* {
  float: left;
}

.toggle_radio input[type=radio] {
  display: none;
}

.toggle_radio label {
  z-index: 1;
  display: block;
  width: geometry.$button-width;
  height: geometry.$button-height;
  margin: 0;
  @include geometry.border-radius($border-radius);
  cursor: pointer;
  text-align: center;
}

.toggle_option_slider {
  width: geometry.$button-width;
  height: geometry.$button-height;
  position: absolute;
  top: geometry.$margin;
  @include geometry.border-radius($border-radius);
  @include geometry.transition();
}

#first_toggle:checked~.toggle_option_slider {
  background: color.$highlight-color;
  left: geometry.$margin;
}

#second_toggle:checked~.toggle_option_slider {
  background: color.$highlight-color;
  left: geometry.$margin + geometry.$button-width;
}

#third_toggle:checked~.toggle_option_slider {
  background: color.$highlight-color;
  left: geometry.$margin + geometry.$button-width*2;
}
