@import "./color.scss";
@import "./geometry.scss";

$button-width: $button-height;

.switch {
  position: relative;
  display: inline-block;
  width: ($button-width + $margin) * 2;
  height: $button-height + $margin * 2;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $off-color;
  @include transition();
}

.slider::before {
  position: absolute;
  content: "";
  width: $button-width;
  height: $button-height;
  left: $margin;
  bottom: $margin;
  background-color: $highlight-color;
  @include transition();
}

input:checked + .slider {
  background-color: $on-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $on-color;
}

.slider-red {
  @extend .slider;
}
input:checked + .slider-red {
  background-color: $on-color-red;
}
input:focus + .slider-red {
  box-shadow: 0 0 1px $on-color-red;
}

.slider-green {
  @extend .slider;
}
input:checked + .slider-green {
  background-color: $on-color-green;
}
input:focus + .slider-green {
  box-shadow: 0 0 1px $on-color-green;
}

.slider-blue {
  @extend .slider;
}
input:checked + .slider-blue {
  background-color: $on-color-blue;
}
input:focus + .slider-blue {
  box-shadow: 0 0 1px $on-color-blue;
}

.slider-yellow {
  @extend .slider;
}
input:checked + .slider-yellow {
  background-color: $on-color-yellow;
}
input:focus + .slider-yellow {
  box-shadow: 0 0 1px $on-color-yellow;
}

input:checked + .slider::before {
  $delta: $button-width - $margin;
  -webkit-transform: translateX($delta);
  -ms-transform: translateX($delta);
  transform: translateX($delta);
}

.slider.round {
  @include border-radius($button-height + $margin * 2);
}

.slider.round::before {
  @include border-radius(50%);
}
