<app-selector-header [key]="propertyName.Experience">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 cell-key">
        <app-property [propertyName]="propertyName"></app-property>
      </div>
      <div class="col-md-9 cell-value">
        @if (propertyName['Link']) {
          <a class="d-inline-block" href="{{ propertyName['Link'] }}" target="_blank" rel="noopener noreferrer"
            [attr.aria-label]="linkLabel(ui['Experience']?.text)">
            <img src="{{ getBackgroundLogoImageUri(propertyName['Image']) }}" onerror="this.style.display='none'" alt=""
              class="thumbnail" loading="lazy" /> {{ propertyName['Experience'] }}
            </a>
          } @else {
            {{ propertyName['Experience'] }}
          }
          <div class="{{ propertyName['Highlight'] }} half-line-trailing">
            {{ propertyName['Position'] }}
          </div>
          @for (line of description; track trackByFn($index, line)) {
            <div>
              <app-selector [text]="[line ? detailBullet : '', line].join(' ')"></app-selector>
            </div>
          }
        </div>
      </div>
    </div>
  </app-selector-header>