<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 cell-key">
      <span *ngIf="propertyName['From'] !== propertyName['To']; else elseBlockPeriod">
        {{ getJsDateValueFromExcel(propertyName['From']) | date:dateFormat }} – {{ getJsDateValueFromExcel(propertyName['To'])
        | date:dateFormat }}
      </span>
      <ng-template #elseBlockPeriod>{{ getJsDateValueFromExcel(propertyName['To']) | date:dateFormat }}</ng-template>
    </div>
    <div class="col-md-9 cell-value">
      <div>
        <span *ngIf="propertyName['Link']; else elseBlockExperience">
          <a href="{{ propertyName['Link'] }}" target="_blank" rel="noopener">
            <img src="{{ getBackgroundLogoImageUri(propertyName['Image']) }}" onerror="this.style.display='none'" alt="" class="thumbnail"
            /> {{ propertyName['Experience'] }}
          </a>
        </span>
        <ng-template #elseBlockExperience>{{ propertyName['Experience'] }}</ng-template>
      </div>
      <div>
        {{ propertyName['Position'] }}
      </div>
      <div *ngFor="let line of propertyName['Description']">
        <span class="detail">{{ line ? detailBullet : '' }} {{ line }}</span>
        <br />
      </div>
    </div>
  </div>
</div>