<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 cell-key">
      <ng-container *ngComponentOutlet="PropertyComponent"></ng-container>
    </div>
    <div class="col-md-9 cell-value">
      <div>
        <ng-container *ngIf="propertyName['Link']; else elseBlockExperience">
          <a href="{{ propertyName['Link'] }}" target="_blank" rel="noopener noreferrer" [attr.aria-label]="linkLabel(ui['Experience']?.text)">
            <img src="{{ getBackgroundLogoImageUri(propertyName['Image']) }}" onerror="this.style.display='none'" alt="" class="thumbnail"
            /> {{ propertyName['Experience'] }}
          </a>
        </ng-container>
        <ng-template #elseBlockExperience>{{ propertyName['Experience'] }}</ng-template>
      </div>
      <div class="{{ propertyName['Highlight'] }}">
        {{ propertyName['Position'] }}
      </div>
      <div *ngFor="let line of description; trackBy: trackByFn">
        <ng-container class="detail">{{ line ? detailBullet : '' }} {{ line }}</ng-container>
        <br />
      </div>
    </div>
  </div>
</div>