<span (click)="rotateDateFormat()" title="{{ uiService.uiText('Click here to change format') }}"
  [attr.aria-label]="uiService.label('rotateDateFormat')" (keypress)="inputService.keypress($event)">
  @if (propertyName['From'] !== propertyName['To']) {
    {{ getJsDateValueFromExcel(propertyName['From']) | date:dateFormat }} – {{
    getJsDateValueFromExcel(propertyName['To']) |
    date:dateFormat }}
  } @else {
    {{ getJsDateValueFromExcel(propertyName['To']) | date:dateFormat }}
  }
</span>