<ng-template #spectrum let-key="key">
  <div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
    <div [ngClass]="portfolioService.getColumnsClass(entities[key]?.columns!)">
      <header id="{{ entities[key]?.key }}" #clickables (keypress)="keypress($event)" (click)="saveToggle($event)"
        data-toggle="collapse" [attr.data-target]="'#' + entities[key]?.content" [attr.aria-labelledby]="tabName(key)">
        <h3>
          <ng-container *ngTemplateOutlet="headerLink!;context:{key: key}"></ng-container>
          <app-sorter #sorter [sortFieldsKey]="SorterKind.Spectrum" [type]="key"></app-sorter>
          <sup *ngIf="entities[key]?.AI" class="ghost">{{ ui['AI']?.text }}</sup>
          <ng-container *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue(key)}">
          </ng-container>
        </h3>
      </header>
      <div id="{{ entities[key]?.content }}" class="collapse show">
        <div [ngClass]="portfolioService.getColumnsClass(entities[key]?.contentColumns!)">
          <div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
            <ng-container *ngIf="key === 'Country'; else elseBlockIndex">
              <header id="{{ entities[key + ' Index']?.key }}" #clickableIndex (keypress)="keypress($event)"
                (click)="saveToggle($event)" data-toggle="collapse"
                [attr.data-target]="'#' + entities[key + ' Index']?.content"
                [attr.aria-labelledby]="tabName(key + ' Index')">
                <h4 class="print-hidden">
                  <ng-container *ngTemplateOutlet="headerLink!;context:{key: key + ' Index'}"></ng-container>
                  {{ entities[key + ' Index']?.section }}
                  <ng-container
                    *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue(key + ' Index')}">
                  </ng-container>
                </h4>
              </header>
              <div #nextSort id="{{ entities[key + ' Index']?.content }}" class="collapse show"
                (click)="sorter.nextSort($event)" (keypress)="sorter.keypress($event)" [title]="sorter.nextSortTitle"
                [attr.aria-labelledby]="uiService.label(nextSort.id)">
                <app-spectrum [key]="key" [sorter]="sorter"></app-spectrum>
              </div>

              <header id="{{ entities[key + ' Map']?.key }}" #clickableMap (keypress)="keypress($event)"
                (click)="saveToggle($event)" data-toggle="collapse"
                [attr.data-target]="'#' + entities[key + ' Map']?.content"
                [attr.aria-labelledby]="tabName(key + ' Map')">
                <h4 class="print-hidden">
                  <ng-container *ngTemplateOutlet="headerLink!;context:{key: key + ' Map'}"></ng-container>
                  {{ entities[key + ' Map']?.section }}
                  <ng-container
                    *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue(key + ' Map')}">
                  </ng-container>
                </h4>
              </header>
              <div id="{{ entities[key + ' Map']?.content }}" class="collapse show">
                <ng-container *ngTemplateOutlet="map!;context:{key: 'Country'}"></ng-container>
              </div>
            </ng-container>
            <ng-template #elseBlockIndex>
              <app-spectrum [key]="key" [sorter]="sorter"></app-spectrum>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #header let-key="key">
  <header id="{{ entities[key]?.key }}" #clickable (keypress)="keypress($event)" (click)="saveToggle($event)"
    data-toggle="collapse" [attr.data-target]="'#' + entities[key]?.content" [attr.aria-labelledby]="tabName(key)">
    <h2 [class.decorations]="decorations">
      <ng-container *ngTemplateOutlet="headerLink!;context:{key: key}"></ng-container>
      {{ entities[key]?.section }}
      <ng-container *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue(key)}">
      </ng-container>

      <span class="toolbar">
        <form class="form-inline">
          <ng-container *ngTemplateOutlet="portfolioService.columnsToggles!;context:{key: key}"> </ng-container>
        </form>
      </span>
    </h2>
  </header>
</ng-template>

<ng-template #map let-key="key">
  <div *ngIf="getFrequenciesCache(key)?.length || 0 > 0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 cell-value">
          <app-map></app-map>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Project Summary']?.layoutColumns!)">
  <div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
    <div [ngClass]="portfolioService.getColumnsClass(entities['Areas of Expertise']?.columns!)">
      <ng-container *ngTemplateOutlet="header!;context:{key: 'Areas of Expertise'}"></ng-container>
      <div id="{{ entities['Areas of Expertise']?.content }}" class="collapse show">
        <div [ngClass]="portfolioService.getColumnsClass(entities['Areas of Expertise']?.contentColumns!)">
          <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'Client'}"></ng-container>
          <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'Country'}"></ng-container>
          <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'Industry'}"></ng-container>
          <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'Project type'}"></ng-container>
          <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'System type'}"></ng-container>
        </div>
      </div>
    </div>
  </div>

  <div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
    <div [ngClass]="portfolioService.getColumnsClass(entities['Skills']?.columns!)">
      <ng-container *ngTemplateOutlet="header!;context:{key: 'Skills'}"></ng-container>
      <div id="{{ entities['Skills']?.content }}" class="collapse show">
        <div [ngClass]="portfolioService.getColumnsClass(entities['Skills']?.contentColumns!)">
          <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'Platform'}"></ng-container>
          <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'Architecture'}"></ng-container>
          <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'Languages and notations'}"></ng-container>
          <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'IDEs and Tools'}"></ng-container>
          <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'Methodology and practices'}"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
  <div [ngClass]="portfolioService.getColumnsClass(entities['Job Functions']?.columns!)">
    <ng-container *ngTemplateOutlet="header!;context:{key: 'Job Functions'}"></ng-container>
    <div id="{{ entities['Job Functions']?.content }}" class="collapse show">
      <div [ngClass]="portfolioService.getColumnsClass(entities['Job Functions']?.contentColumns!)">
        <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'Role'}"></ng-container>
        <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'Responsibilities'}"></ng-container>
        <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'Team size'}"></ng-container>
        <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'Position'}"></ng-container>
        <ng-container *ngTemplateOutlet="spectrum!;context:{key: 'Reference'}"></ng-container>
      </div>
    </div>
  </div>
</div>