<table class="table table-condensed" aria-describedby="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%">
        <th scope="col" style="width: 95%">
        </tr>
      </thead>
      @for (project of truncatorService.truncated(sorterService.sorted(filtered.Projects)); track trackByFn(i, project); let i = $index) {
        <tbody
          >
    <tr [ngClass]="{
      'contemporary': getDecryptedProjectPeriod(project) === 'Contemporary Period',
      'warning': getDecryptedProjectPeriod(project) === 'Modern Age',
      'info': getDecryptedProjectPeriod(project) === 'Renaissance',
      'success': getDecryptedProjectPeriod(project) === 'Dark Ages',
      'try-keep-together': portfolioService.toolbarService.pagination }" class="contributions-row">
            <td style="width: 5%; text-align: right;">{{ project['Id'] }}</td>
            <td style="width: 95%">
              <a [ngStyle]="getFrequencyStyle(frequency(project))"
                title="{{ frequency(project)[1].Label + '\n\n' + ui['Go to this project']?.text }}"
                href="/{{ componentName }}#project{{ project['Id'] }}">
                <span [ngStyle]="project['Project name'].includes('freelance') ? {'font-style': 'italic'} : {}">
                  {{ getJsDateValueFromExcel(project['From']) | date:dateFormat }} {{ project['Project name'] }} —
                  {{ project['Scope'] }}
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      }
    </table>
    @if (truncatorService.remainingLength(filtered.Projects) > 0) {
      <span class="more">+{{ truncatorService.remainingLength(filtered.Projects) }}&nbsp;more… </span>
    }