<table class="table table-condensed" aria-describedby="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%">
      <th scope="col" style="width: 95%">
    </tr>
  </thead>
  <tbody *ngFor="let project of filteredProjects; trackBy: trackByFn">
    <tr [ngClass]="{
          'warning': getDecryptedProjectPeriod(project) == 'Modern Age', 
          'info': getDecryptedProjectPeriod(project) == 'Renaissance', 
          'success': getDecryptedProjectPeriod(project) == 'Dark Ages' }" class="contributions-row"
      [ngClass]="portfolioService.tryKeepTogetherInForce ? 'tryKeepTogether' : ''">
      <td style="width: 5%; text-align: right;">{{ project['Id'] }}</td>
      <td style="width: 95%">
        <a [ngClass]="getProjectIsOnePersonTeam(project) ? 'aEmphasis' : ''"
          title="{{ ui['Go to this project']?.text }}" href="/{{ componentName }}#project{{ project['Id'] }}">
          <span [ngStyle]="project['Project name'].includes('freelance') ? {'font-style': 'italic'} : {}">
            {{ getJsDateValueFromExcel(project['From']) | date:dateFormat }} {{ project['Project name'] }} —
            {{ project['Scope'] }}
          </span>
        </a>
      </td>
    </tr>
  </tbody>
</table>