@use "../stylesheets/stylesheets.component.color.scss" as color;

table {
    table-layout: fixed;
    overflow-wrap: break-word;
    font-size: 14px;
}

td, th {
  padding: 1px 4px;
}

a {
  padding: 0;
  margin: 0;
}

.contributions-row {
    border-color: color.$table-border-color;
    border-style: solid;
    border-width: 0 0 4px;
}

.contemporary {
    background-color: color.$contemporary-period-color;
}

.warning {
    background-color: color.$modern-age-color;
}

.info {
    background-color: color.$renaissance-color;
}

.success {
    background-color: color.$dark-ages-color;
}

@media print { 
    .table td, .table th { 
        background-color: color.$list-back-color !important; 
    } 
}
