<ng-template #badge let-key="key">
  <a href="{{ key?.Link }}" title="{{ uiText(key?.Text) }}" target="_blank" rel="noopener"
    attr.aria-label="linkLabel(uiText(key?.Text))">
    <img src="{{ key?.Image }}" onerror="this.style.display='none'" alt="{{ uiText(key?.Text) }}">
  </a>
</ng-template>

<hr>
<header id="{{ entities['Badges']?.key }}" #clickable (keypress)="keypress($event)" (click)="saveToggle($event)" data-toggle="collapse"
  [attr.data-target]="'#' + entities['Badges']?.content" [attr.aria-labelledby]="tabName('Badges')">
  <h1 [class.decorations]="decorations">
    <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Badges'}"></ng-container>
    {{ entities['Badges']?.section }}
    <ng-container *ngTemplateOutlet="sectionCounter!;context:{count: BadgeLeavesCount}"></ng-container>

    <ng-container *ngIf="decorations; else elseBlockExpandBadges">
      <span class="d-print-none extra-function" [attr.aria-labelledby]="label('ExpandBadges')"
        #clickableExpandBadgesDecorated (keypress)="keypress($event)" (click)="$event.stopPropagation()" title="{{ ui['Expand Badges']?.text }}">
        <label id="{{ label('ExpandBadges') }}" for="ExpandBadges checkbox" class="switch">
          <input #expandBadgesElement type="checkbox" id="ExpandBadges checkbox" [(ngModel)]="ExpandBadges" value="" role="checkbox"
            [attr.aria-labelledby]="label('ExpandBadges')" title="">
          <span class="slider round"></span>
        </label>
      </span>
    </ng-container>
    <ng-template #elseBlockExpandBadges>
      <span class="d-print-none extra-function" [attr.aria-labelledby]="label('ExpandBadges')"
        #clickableExpandBadges (keypress)="keypress($event)" (click)="$event.stopPropagation()" title="">
        <label id="{{ label('ExpandBadges') }}" for="ExpandBadges checkbox" class="checkbox-inline">
          <input type="checkbox" id="ExpandBadges checkbox" [(ngModel)]="ExpandBadges" value="" role="checkbox"
            [attr.aria-labelledby]="label('ExpandBadges')">{{ ui['Expand Badges']?.text }}
        </label>
      </span>
    </ng-template>
  </h1>
</header>
<div id="{{ entities['Badges']?.content }}" class="collapse show">
  <div class="disclaimer center">
    <span [ngClass]="'row'" style="height: 2px;">&nbsp;</span>
    <span [ngClass]="ExpandBadges?'row justify-content-center':''" *ngFor='let group of BadgeConfig'>
      <ng-container>&nbsp;</ng-container>
      <ng-container *ngFor="let badgeConfig of group; trackBy: trackByFn">
        <ng-container *ngTemplateOutlet="badge!;context:{key: badgeConfig}"></ng-container>
      </ng-container>
    </span>
    <span [ngClass]="'row'">&nbsp;
      <table class="table table-condensed">
        <tbody>
          <tr class="list-row tryKeepTogether">
            <td>
              <a href="https://codecov.io/gh/Yrkki/cv-generator-fe" title="{{ uiText('Coverage sunburst') }}"
                target="_blank" rel="noopener" attr.aria-label="linkLabel(uiText('Coverage sunburst')">
                <img src="https://codecov.io/gh/Yrkki/cv-generator-fe/graphs/sunburst.svg"
                  onerror="this.style.display='none'" alt="{{ uiText('Coverage sunburst') }}" />
              </a>
            </td>
            <td>
              <a href="https://codecov.io/gh/Yrkki/cv-generator-fe/graphs/icicle.svg"
                title="{{ uiText('Coverage icicle') }}" target="_blank" rel="noopener"
                attr.aria-label="linkLabel(uiText('Coverage icicle')">
                <img src="https://codecov.io/gh/Yrkki/cv-generator-fe/graphs/icicle.svg"
                  onerror="this.style.display='none'" alt="{{ uiText('Coverage icicle') }}" />
              </a>
            </td>
            <td>
              <a href="https://codecov.io/gh/Yrkki/cv-generator-fe/graphs/tree.svg"
                title="{{ uiText('Coverage tree') }}" target="_blank" rel="noopener"
                attr.aria-label="linkLabel(uiText('Coverage tree')">
                <img src="https://codecov.io/gh/Yrkki/cv-generator-fe/graphs/tree.svg"
                  onerror="this.style.display='none'" alt="{{ uiText('Coverage tree') }}" />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </span>
  </div>
</div>
<div class="disclaimer center">
  {{ ui['Disclaimer']?.text }}
</div>
<div class="d-md-flex justify-content-between disclaimer">
  <div class="center w-md-25">
    <div>
      <a class="d-inline-block" href="https://developers.google.com/web/progressive-web-apps/" title="{{ ui['Progressive Web App']?.text }}"
        target="_blank" rel="noopener" [attr.aria-label]="linkLabel(ui['Progressive Web App']?.text)">
        <img src="{{ getAssetUri('PWA.png') }}" class="thumbnail" onerror="this.style.display='none'" alt="" /> {{ ui['Progressive Web App']?.text }}
      </a>
    </div>
    <div>
      <a class="d-inline-block" href="https://yrkki.github.io/cv-generator-fe/" title="{{ ui['Project site']?.text }}" target="_blank"
        rel="noopener" [attr.aria-label]="linkLabel(ui['Project site']?.text)">
        <i class="fas fa-cogs"></i> {{ ui['Project site']?.text }}
      </a>
    </div>
    <div>
      <a class="d-inline-block" href="/sitemap.xml" title="{{ ui['Sitemap']?.text }}" target="_blank" rel="noopener" [attr.aria-label]="linkLabel(ui['Sitemap']?.text)">
        <i class="fa fa-sitemap"></i> {{ ui['Sitemap']?.text }}
      </a>
    </div>
  </div>
  <div class="center w-md-50">
    <div>
      <a href="https://github.com/Yrkki/cv-generator-fe" title="{{ ui['GitHub version']?.text }}" target="_blank" rel="noopener"
        [attr.aria-label]="linkLabel(ui['GitHub version']?.text)">
        <img src="https://badge.fury.io/gh/Yrkki%2Fcv-generator-fe.svg" onerror="this.style.display='none'" alt="{{ ui['GitHub version']?.text }}">
      </a>
      <a href="https://github.com/Yrkki/cv-generator-fe" title="{{ ui['Package version']?.text }}" target="_blank" rel="noopener"
        [attr.aria-label]="linkLabel(ui['Package version']?.text)">
        <img src="https://img.shields.io/github/package-json/v/Yrkki/cv-generator-fe.svg" onerror="this.style.display='none'" alt="{{ ui['Package version']?.text }}">
      </a>
      <ng-container *ngIf="version.length > 0">
        <a href="https://ci.appveyor.com/project/Yrkki/cv-generator-fe" title="{{ ui['Build version']?.text }}" target="_blank" rel="noopener"
          [attr.aria-label]="linkLabel(ui['Build version']?.text)">
          <img src="https://img.shields.io/badge/build-v{{ version }}-brightgreen.svg" onerror="this.style.display='none'" alt="{{ ui['Build version']?.text }}">
        </a>
      </ng-container>
    </div>
    <div>
      <a class="d-inline-block" href="https://www.google.com/search?q=Bulgaria&tbm=isch" title="{{ ui['Bulgaria']?.text }}" target="_blank"
        rel="noopener" [attr.aria-label]="linkLabel(ui['Bulgaria']?.text)">
        {{ ui['Made in Bulgaria']?.text }}
        <a class="d-inline-block" href="https://www.google.com/search?q=rose+valley+kazanlak&tbm=isch" title="{{ ui['Rose Valley']?.text }}"
          target="_blank" rel="noopener" [attr.aria-label]="linkLabel(ui['Rose Valley']?.text)">
          <i class="emoji">{{ ui['Rose']?.text }}</i>
        </a>
      </a>
    </div>
    <div>
      {{ ui['Copyright']?.text }}
      <a class="d-inline-block" routerLink="/webpage" title="{{ ui['Author name']?.text }}" target="_blank" rel="noopener" [attr.aria-label]="linkLabel(ui['Author name']?.text)">
        {{ ui['Author name']?.text }}
      </a>. {{ ui['All rights reserved']?.text }}
    </div>
  </div>
  <div class="center w-md-25">
    <div>
      <a class="d-inline-block align-items-baseline" href="https://github.com/Yrkki/cv-generator-fe" title="{{ ui['Code']?.text }}"
        target="_blank" rel="noopener" [attr.aria-label]="linkLabel(ui['Code']?.text)">
        <i class="fa fa-code"></i> {{ ui['Code']?.text }}
        <a class="d-inline-block align-items-baseline" href="https://opensource.org/licenses/MIT" title="{{ ui['MIT license']?.text }}"
          target="_blank" rel="noopener" [attr.aria-label]="linkLabel(ui['MIT license']?.text)">
          <img src="https://img.shields.io/badge/license-MIT-brightgreen.svg" onerror="this.style.display='none'" alt="{{ ui['MIT license']?.text }}">
        </a>
      </a>
    </div>
    <div>
      <a class="d-inline-block" href="/documentation/index.html" title="{{ ui['Documentation']?.text }}" target="_blank" rel="noopener"
        [attr.aria-label]="linkLabel(ui['Documentation']?.text)">
        <i class="fa fa-book"></i> {{ ui['Documentation']?.text }}
        <a class="d-inline-block" href="https://creativecommons.org/licenses/by/4.0" title="{{ ui['CC BY 4.0']?.text }}" target="_blank"
          rel="noopener" [attr.aria-label]="linkLabel(ui['CC BY 4.0']?.text)">
          <img src="https://img.shields.io/badge/license-{{ ui['CC BY 4.0']?.text }}-brightgreen.svg" onerror="this.style.display='none'"
            alt="{{ ui['CC BY 4.0']?.text }}">
        </a>
      </a>
    </div>
    <div>
      <a class="d-inline-block" href="/3rdpartylicenses.txt" title="{{ ui['Third-party licenses']?.text }}" target="_blank" rel="noopener"
        [attr.aria-label]="linkLabel(ui['Third-party licenses']?.text)">
        <i class="fa fa-hands-helping"></i> {{ ui['Third-party licenses']?.text }}
      </a>
    </div>
  </div>
</div>