<div *ngIf="portfolioService.toolbarService.editMode || !portfolioService.persistenceService.getToggleValue(key)"
  [ngClass]="portfolioService.toolbarService.getColumnsClass(entities[key]?.columns!)">
  <app-header [key]="key" [headingLevel]="1" [toggles]="[ToggleKind.ContentColumns, ToggleKind.Expand]"></app-header>
  <div id="{{ entities[key]?.content }}" class="collapse show">
    <div [ngClass]="portfolioService.toolbarService.getColumnsClass(entities[key]?.contentColumns!)">
      <div class="disclaimer center">
        <span [ngClass]="'row'" style="height: 2px;">&nbsp;</span>
        <span [ngClass]="Expand?'row justify-content-center':''" *ngFor='let group of Config; trackBy: trackByFn'>
          <ng-container>&nbsp;</ng-container>
          <ng-container *ngFor="let Config of group; trackBy: trackByFn">
            <app-badge [key]="Config" [replacementMap]="{ qualifiedHostname: qualifiedHostname }">
            </app-badge>
          </ng-container>
        </span>
        <div [ngClass]="'row justify-content-center'">&nbsp;
          <div class="table table-condensed list-row"
            [ngClass]="portfolioService.toolbarService.pagination ? 'tryKeepTogether' : ''">
            <div class="td">
              <a class="td-a" href="https://codecov.io/gh/Yrkki/cv-generator-fe"
                title="{{ uiText('Coverage sunburst') }}" target="_blank" rel="noopener noreferrer"
                [attr.aria-label]="linkLabel(uiText('Coverage sunburst'))">
                <img class="td-a-img" src="https://codecov.io/gh/Yrkki/cv-generator-fe/graphs/sunburst.svg"
                  onerror="this.style.display='none'" alt="{{ uiText('Coverage sunburst') }}" loading="lazy" />
              </a>
            </div>
            <div class="td">
              <a class="td-a" href="https://codecov.io/gh/Yrkki/cv-generator-fe/graphs/icicle.svg"
                title="{{ uiText('Coverage icicle') }}" target="_blank" rel="noopener noreferrer"
                [attr.aria-label]="linkLabel(uiText('Coverage icicle'))">
                <img class="td-a-img" src="https://codecov.io/gh/Yrkki/cv-generator-fe/graphs/icicle.svg"
                  onerror="this.style.display='none'" alt="{{ uiText('Coverage icicle') }}" loading="lazy" />
              </a>
            </div>
            <div class="td">
              <a class="td-a" href="https://codecov.io/gh/Yrkki/cv-generator-fe/graphs/tree.svg"
                title="{{ uiText('Coverage tree') }}" target="_blank" rel="noopener noreferrer"
                [attr.aria-label]="linkLabel(uiText('Coverage tree'))">
                <img class="td-a-img" src="https://codecov.io/gh/Yrkki/cv-generator-fe/graphs/tree.svg"
                  onerror="this.style.display='none'" alt="{{ uiText('Coverage tree') }}" loading="lazy" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>