<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 cell-key">
      {{ propertyName['Period'] }}
    </div>
    <div class="col-md-9 cell-value">
      {{ propertyName['Certification'] }}
      <span>
        <a href="{{ propertyName['Certificate URL'] }}" style="display:block;" target="_blank">
          <img src="{{ getAssetUri('AWS_Certified_Logo.png') }}" onerror="this.style.display='none'" style="display:block; max-width:215px; max-height:32px; border:0;"
            alt="{{ propertyName['Certification'] }}" />
          <img src="{{ getAssetUri('AWS_Certified_Tag.png') }}" onerror="this.style.display='none'" style="display:block; max-width:179px; max-height:14px; border:0;"
            alt="{{ propertyName['Certification'] }}" />
        </a>
      </span>
      <br />
    </div>
  </div>
</div>