<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 cell-key">
      {{ propertyName['Period'] }}
    </div>
    <div class="col-md-9 cell-value">
      {{ propertyName['Certification'] }}
      <span>
        <a href="{{ propertyName['Certificate URL'] }}" style="display:block;" target="_blank" rel="noopener">
          <img src="{{ getAssetUri('AWS_Certified_Logo.png') }}" onerror="this.style.display='none'" alt="{{ propertyName['Certification'] }}"
          />
          <img src="{{ getAssetUri('AWS_Certified_Tag.png') }}" onerror="this.style.display='none'" alt="{{ propertyName['Certification'] }}"
          />
        </a>
      </span>
      <br />
    </div>
  </div>
</div>