{{ displayType }}
<span *ngIf="portfolioService.toolbarService.editMode && subSortField.sortField(subSortField.sortFieldIndex)"
    class="print-hidden">
    {{ uiService.uiText('by') }}

    <span #clickableHome (click)="subSortField.nextSort($event, Go.Home)" (keypress)="inputService.keypress($event)"
        [title]="subSortField.nextSortTitle(Go.Home)" [attr.aria-labelledby]="uiService.label(displayType) + '_home'">
        <em class="fas fa-sort"></em>
    </span>
    <span #clickableBack (click)="subSortField.nextSort($event, Go.Back)" (keypress)="inputService.keypress($event)"
        [title]="subSortField.nextSortTitle(Go.Back)" [attr.aria-labelledby]="uiService.label((displayType) + '_back')">
        {{ subSortField.nextBack }}
    </span>
    <span #clickableForward (click)="subSortField.nextSort($event, Go.Forward)"
        (keypress)="inputService.keypress($event)" [title]="subSortField.nextSortTitle(Go.Forward)"
        [attr.aria-labelledby]="uiService.label(displayType) + '_forward'">
        {{ subSortField.sortField(subSortField.sortFieldIndex).toLowerCase() }}
        {{ subSortField.orderDirection }}
        {{ subSortField.nextForward }}
    </span>

    <app-classifier #classifier class="classifier" *ngIf="[
        'Certifications',
        'Certifications Index',
        'Certifications List',
        'Languages',
        'Languages Index',
        'Languages List',
        'Languages Chart',
        'Courses',
        'Courses Index',
        'Courses List',
        'Organizations',
        'Organizations Index',
        'Organizations List',
        'Honors and Awards',
        'Honors and Awards Index',
        'Honors and Awards List',
        'Volunteering',
        'Volunteering Index',
        'Volunteering List',
        'Interests and Hobbies',
        'Interests and Hobbies Index',
        'Interests and Hobbies List',
        'Vacation',
        'Vacation Index',
        'Vacation List'
    ].includes(type)" [type]="type"></app-classifier>
</span>