<a [ngClass]="[(entity?.class ? entity?.class : ''), 'header-link']" #clickable (keypress)="keypress($event)"
  (click)="$event.stopPropagation()" title="{{ uiService.linkToThisText }}"
  href="/{{ uiService.componentName }}#{{ key }}">
  <span class="text-icons d-print-none">{{ uiService.linkToThisSymbol }}</span>
</a>

@if (sorterKind > -1) {
  <app-sorter #sorter [sorterKind]="sorterKind" [type]="key"></app-sorter>
} @else {
  {{ entity?.section }}
  @if (entity?.emSymbol) {
    <em class="fas fa-chart-line"></em>
  }
}

@if (entity?.AI) {
  <sup class="ghost">{{ uiService.uiText('AI') }}</sup>
}

<span class="ghost d-print-none">
  {{ count }}
</span>