<header [id]="entities[key]?.key" #clickable (keypress)="keypress($event)" (click)="saveToggle($event)"
  data-toggle="collapse" [attr.data-target]="'#' + entities[key]?.content" [attr.aria-labelledby]="tabName(key)">
  <h1 [class.decorations]="decorations">
    <app-header-title [key]="key"></app-header-title>

    <span class="toolbar">
      <form class="form-inline">
        <ng-container
          *ngTemplateOutlet="portfolioService.columnsToggles!;context:{key: portfolioService.entities[key]?.key}">
        </ng-container>
        <app-toggle [toggleKind]="ToggleKind.Expand" [entityKey]="key" ngDefaultControl [context]="{
            value: expandKey,
            displayValue: expandKey,
            model: Expand,
            subject: this,
            propertyName: 'Expand',
            sliderClass: 'slider'
          }">
        </app-toggle>
      </form>
    </span>
  </h1>
</header>