<span>
  <span *ngIf="ShowDivider">
    {{ divider }}
  </span>
  <a class="d-inline-block" href="{{ GeolocationUrl }}" title="{{ GeolocationCountry }}" target="_blank"
    rel="noopener noreferrer" [attr.aria-label]="uiService.linkLabel(uiService.ui['Served from']?.text)">
    {{ uiService.ui['Served from']?.text }}
    {{ GeolocationCity }}, {{ GeolocationCountry }}
    <span>
      <img class="mr-1" [src]="GeolocationFlag" alt="{{ GeolocationFlagEmoji }}">
    </span>
    <span *ngIf="GeolocationIsEu">
      <img class="mr-1" [src]="GeolocationFlagEu" alt="{{ GeolocationFlagEuEmoji }}">
    </span>
  </a>
</span>