<div class="tryKeepTogether">
  <ng-container *ngIf="filteredProjects.length > 0">
    <header id="{{ entities['Gantt Chart']?.key }}" data-toggle="collapse" data-target="#GanttChartContent" [attr.aria-labelledby]="tabName('Gantt Chart')">
      <h2>{{ entities['Gantt Chart']?.section }} ({{ filteredProjects.length }})</h2>
    </header>
    <div id="GanttChartContent" class="collapse show">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 cell-value">
            <canvas id="Project Gantt chart" height="900" width="1600" style="display:block; float:left; max-width: 100%;"></canvas>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="filteredProjects.length > 0">
  <header id="{{ entities['List']?.key }}" data-toggle="collapse" data-target="#ListContent" [attr.aria-labelledby]="tabName('List')">
    <h2>{{ entities['List']?.section }} ({{ filteredProjects.length }})</h2>
  </header>
  <div id="ListContent" class="collapse show">
    <app-project-list></app-project-list>
  </div>
</ng-container>

<div class="tryKeepTogether">
  <ng-container *ngIf="filteredProjects.length > 0">
    <header id="{{ entities['Index']?.key }}" data-toggle="collapse" data-target="#IndexContent" [attr.aria-labelledby]="tabName('Index')">
      <h2>{{ entities['Index']?.section }} ({{ filteredProjects.length }})</h2>
    </header>
    <div id="IndexContent" class="collapse show">
      <span *ngFor="let project of filteredProjects; let i = index;">
        <app-project-index [propertyName]="project" [i]="i"></app-project-index>
      </span>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="filteredProjects.length > 0">
  <header id="{{ entities['Projects']?.key }}" data-toggle="collapse" data-target="#ProjectsContent" [attr.aria-labelledby]="tabName('Projects')">
    <h2>{{ entities['Projects']?.section }} ({{ filteredProjects.length }})</h2>
  </header>
  <div id="ProjectsContent" class="collapse show">
    <div *ngFor="let project of filteredProjects;">
      <h3 *ngIf="project['New Period'] !== '' && entities.hasOwnProperty(getDecryptedProjectPeriod(project))" id="{{ entities[getDecryptedProjectPeriod(project)]?.key }}"
        [attr.aria-labelledby]="tabName(getDecryptedProjectPeriod(project))">
        {{ entities[getDecryptedProjectPeriod(project)]?.section }} ({{ countCache[getDecryptedProjectPeriod(project)] }})
      </h3>
      <ng-container *ngComponentOutlet="ProjectCardComponent;injector:getInjector(project, i)"></ng-container>
    </div>
  </div>
</ng-container>