<div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Project Portfolio']?.layoutColumns!)">
  <div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
    <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Gantt Chart']?.columns!)">
      <header id="{{ portfolioService.entities['Gantt Chart']?.key }}" #clickableGanttChart
        (keypress)="inputService.keypress($event)" (click)="persistenceService.saveToggle($event)"
        data-toggle="collapse" [attr.data-target]="'#' + portfolioService.entities['Gantt Chart']?.content"
        [attr.aria-labelledby]="uiService.tabName('Gantt Chart')">
        <h2 [class.decorations]="portfolioService.decorations">
          <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Gantt Chart'}"></ng-container>
          {{ portfolioService.entities['Gantt Chart']?.section }}
          <ng-container
            *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('Gantt Chart')}">
          </ng-container>

          <span class="toolbar">
            <form class="form-inline">
              <ng-container
                *ngTemplateOutlet="portfolioService.columnsToggles!;context:{key: portfolioService.entities['Gantt Chart']?.key}">
              </ng-container>
            </form>
          </span>
        </h2>
      </header>
      <div id="{{ portfolioService.entities['Gantt Chart']?.content }}" class="collapse show">
        <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Gantt Chart']?.contentColumns!)">
          <app-project-gantt-chart></app-project-gantt-chart>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
    <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Contributions']?.columns!)">
      <header id="{{ portfolioService.entities['Contributions']?.key }}" #clickableContributions
        (keypress)="inputService.keypress($event)" (click)="persistenceService.saveToggle($event)"
        data-toggle="collapse" [attr.data-target]="'#' + portfolioService.entities['Contributions']?.content"
        [attr.aria-labelledby]="uiService.tabName('Contributions')">
        <h2 [class.decorations]="portfolioService.decorations">
          <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Contributions'}"></ng-container>
          {{ portfolioService.entities['Contributions']?.section }}
          <ng-container
            *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('Contributions')}">
          </ng-container>

          <span class="toolbar">
            <form class="form-inline">
              <ng-container
                *ngTemplateOutlet="portfolioService.columnsToggles!;context:{key: portfolioService.entities['Contributions']?.key}">
              </ng-container>
            </form>
          </span>
        </h2>
      </header>
      <div id="{{ portfolioService.entities['Contributions']?.content }}" class="collapse show">
        <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Contributions']?.contentColumns!)">
          <ng-container *ngComponentOutlet="ProjectContributionsComponent"></ng-container>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
    <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['List']?.columns!)">
      <header id="{{ portfolioService.entities['List']?.key }}" #clickableList
        (keypress)="inputService.keypress($event)" (click)="persistenceService.saveToggle($event)"
        data-toggle="collapse" [attr.data-target]="'#' + portfolioService.entities['List']?.content"
        [attr.aria-labelledby]="uiService.tabName('List')">
        <h2 [class.decorations]="portfolioService.decorations">
          <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'List'}"></ng-container>
          {{ portfolioService.entities['List']?.section }}
          <ng-container *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('List')}">
          </ng-container>

          <span class="toolbar">
            <form class="form-inline">
              <ng-container
                *ngTemplateOutlet="portfolioService.columnsToggles!;context:{key: portfolioService.entities['List']?.key}">
              </ng-container>
            </form>
          </span>
        </h2>
      </header>
      <div id="{{ portfolioService.entities['List']?.content }}" class="collapse show">
        <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['List']?.contentColumns!)">
          <ng-container *ngComponentOutlet="ProjectListComponent"></ng-container>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
    <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Index']?.columns!)">
      <header id="{{ portfolioService.entities['Index']?.key }}" #clickableIndex
        (keypress)="inputService.keypress($event)" (click)="persistenceService.saveToggle($event)"
        data-toggle="collapse" [attr.data-target]="'#' + portfolioService.entities['Index']?.content"
        [attr.aria-labelledby]="uiService.tabName('Index')">
        <h2 [class.decorations]="portfolioService.decorations">
          <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Index'}"></ng-container>
          {{ portfolioService.entities['Index']?.section }}
          <ng-container *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('Index')}">
          </ng-container>

          <span class="toolbar">
            <form class="form-inline">
              <ng-container
                *ngTemplateOutlet="portfolioService.columnsToggles!;context:{key: portfolioService.entities['Index']?.key}">
              </ng-container>
            </form>
          </span>
        </h2>
      </header>
      <div id="{{ portfolioService.entities['Index']?.content }}" class="collapse show">
        <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Index']?.contentColumns!)">
          <ng-container
            *ngFor="let project of truncated(portfolioService.filtered.Projects); let i = index; trackBy: trackByFn">
            <ng-container *ngIf="i > 0">&nbsp;{{ uiService.frequenciesDivider }} </ng-container>
            <ng-container *ngComponentOutlet="ProjectIndexComponent;injector:getInjector(project, i)">
            </ng-container>
          </ng-container>
        </div>
        <ng-container *ngIf="remaining(portfolioService.filtered.Projects).length > 0">
          <span class="more">+{{ remaining(portfolioService.filtered.Projects).length }}&nbsp;more… </span>
        </ng-container>
        <hr>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
  <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Projects']?.columns!)">
    <header id="{{ portfolioService.entities['Projects']?.key }}" #clickableProjects
      (keypress)="inputService.keypress($event)" (click)="persistenceService.saveToggle($event)" data-toggle="collapse"
      [attr.data-target]="'#' + portfolioService.entities['Projects']?.content"
      [attr.aria-labelledby]="uiService.tabName('Projects')">
      <h2 [class.decorations]="portfolioService.decorations">
        <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Projects'}"></ng-container>
        {{ portfolioService.entities['Projects']?.section }}
        <ng-container *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('Projects')}">
        </ng-container>

        <span class="toolbar">
          <form class="form-inline">
            <ng-container
              *ngTemplateOutlet="portfolioService.columnsToggles!;context:{key: portfolioService.entities['Projects']?.key}">
            </ng-container>
          </form>
        </span>
      </h2>
    </header>
    <div id="{{ portfolioService.entities['Projects']?.content }}" class="collapse show">
      <div [ngClass]="portfolioService.getColumnsClass(portfolioService.entities['Projects']?.contentColumns!)">
        <div *ngFor="let project of truncated(portfolioService.filtered.Projects); let i = index; trackBy: trackByFn">
          <div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
            <h3 *ngIf="portfolioService.getProjectStartsNewPeriod(project) 
            && portfolioService.entities.hasOwnProperty(portfolioService.getDecryptedProjectPeriod(project))"
              id="{{ portfolioService.entities[portfolioService.getDecryptedProjectPeriod(project)]?.key }}"
              [attr.aria-labelledby]="uiService.tabName(portfolioService.getDecryptedProjectPeriod(project))">
              <ng-container
                *ngTemplateOutlet="headerLink!;context:{key: portfolioService.getDecryptedProjectPeriod(project)}">
              </ng-container>
              {{ portfolioService.entities[portfolioService.getDecryptedProjectPeriod(project)]?.section }}
              <ng-container
                *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue(portfolioService.getDecryptedProjectPeriod(project))}">
              </ng-container>
            </h3>
            <ng-container *ngComponentOutlet="ProjectCardComponent;injector:getInjector(project, i)">
            </ng-container>
          </div>
        </div>
        <ng-container *ngIf="remaining(portfolioService.filtered.Projects).length > 0">
          <span class="more">+{{ remaining(portfolioService.filtered.Projects).length }}&nbsp;more… </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>