<ng-template #socItem let-item="item" let-icon="icon">
  <ng-container *ngIf="item.title">
    <ng-container>
      <a [ngClass]="icon" href="{{ item.link }}" title="{{ item.title }}" target="_blank" rel="noopener" [attr.aria-label]="linkLabel(item.name)">
        <ng-container class="content">{{ item.title }}</ng-container>
      </a>
    </ng-container>
  </ng-container>
</ng-template>

<div class="container-flex w-100">
  <div class="list d-flex w-100 justify-content-around">
    <ng-container *ngTemplateOutlet="socItem;context:{ item: socBar.address, icon: ['far', 'fa-address-card'] }"></ng-container>
    <ng-container *ngTemplateOutlet="socItem;context:{ item: socBar.phone, icon: ['fa', 'fa-phone'] }"></ng-container>
    <ng-container *ngTemplateOutlet="socItem;context:{ item: socBar.email, icon: ['fa', 'fa-envelope'] }"></ng-container>
    <ng-container *ngTemplateOutlet="socItem;context:{ item: socBar.linkedin, icon: ['fab', 'fa-linkedin'] }"></ng-container>
    <ng-container *ngTemplateOutlet="socItem;context:{ item: socBar.twitter, icon: ['fab', 'fa-twitter'] }"></ng-container>
    <ng-container *ngTemplateOutlet="socItem;context:{ item: socBar.facebook, icon: ['fab', 'fa-facebook'] }"></ng-container>
    <ng-container *ngTemplateOutlet="socItem;context:{ item: socBar.instagram, icon: ['fab', 'fa-instagram'] }"></ng-container>
  </div>
</div>