<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-flex w-100">
  <div class="d-flex w-100 justify-content-around">
    <a href="#" class="fa fa-phone" href="tel:+359893476810" title="+359893476810"></a>
    <a href="#" class="fa fa-envelope" href="mailto:yrkki@yahoo.com" title="yrkki@yahoo.com"></a>
    <a href="#" class="fa fa-linkedin" href="https://www.linkedin.com/in/georgimarinov/" title="georgimarinov"></a>
    <a href="#" class="fa fa-twitter" href="https://twitter.com/yrkki" title="yrkki"></a>
    <a href="#" class="fa fa-facebook" href="https://www.facebook.com/jorich" title="jorich"></a>
    <a href="#" class="fa fa-instagram" href="https://www.instagram.com/jorich1/" title="jorich1"></a>
  </div>
</div>