<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 cell-key">
      {{ getJsDateValueFromExcel(propertyName['Publication date']) | date:dateFormat }}
    </div>
    <div class="col-md-9 cell-value">
      <div>
        <span *ngIf="propertyName['Publication image']">
          <a href="{{ getAccomplishmentPublicationLogoImageUri(propertyName['Publication image'], true) }}" target="_blank" rel="noopener"
            [attr.aria-label]="linkLabel(ui['Publication image']?.text)">
            <img src="{{ getAccomplishmentPublicationLogoImageUri(propertyName['Publication image']) }}" onerror="this.style.display='none'"
              class="thumbnail" alt="" />
          </a>
        </span>
        <ng-template #publicationTemplate>
          {{ propertyName['Author'] }}. ({{ propertyName['Type'] }}).
          <em>{{ propertyName['Title'] }}: {{ propertyName['Subtitle'] }}</em>.
        </ng-template>
        <span *ngIf="propertyName['URL']; else elseBlockPublication">
          <a href="{{ propertyName['URL'] }}" target="_blank" rel="noopener" [attr.aria-label]="linkLabel(ui['Publication']?.text)">
            <ng-container *ngTemplateOutlet="publicationTemplate"></ng-container>
          </a>
        </span>
        <ng-template #elseBlockPublication>
          <ng-container *ngTemplateOutlet="publicationTemplate"></ng-container>
        </ng-template>
        <div class="detail">
          <span *ngIf="propertyName['Article']">
            <span>
              {{ propertyName['Article author'] }}. "{{ propertyName['Article'] }}"
            </span>
            <span *ngIf="propertyName['Article date']">
              ({{ propertyName['Article date'] }})
            </span>
            <span *ngIf="propertyName['Translation Article']">
              [{{ propertyName['Translation Article'] }}].
            </span>
          </span>
          <span>
            {{ propertyName['Author'] }}. ({{ propertyName['Type'] }}).
            <em>{{ propertyName['Title'] }}: {{ propertyName['Subtitle'] }}</em> ({{ propertyName['Translator'] }} {{ ui['Trans']?.text
            }}.).
          </span>
          <span>
            [{{ propertyName['Translation Title'] }}: {{ propertyName['Translation Subtitle'] }}].
          </span>
          <span *ngIf="propertyName['Editor']">
            {{ ui['Ed']?.text }}. {{ propertyName['Editor'] }}.
          </span>
          <span>
            {{ propertyName['City'] }}: {{ propertyName['Publisher'] }}, {{ getJsDateValueFromExcel(propertyName['Publication date'])
            | date:dateFormat }}.
          </span>
          <span>
            {{ propertyName['Pages'] }}
          </span>
          <span>
            {{ propertyName['Format'] }}, {{ propertyName['Page count'] }} {{ propertyName['Size'] }}.
          </span>
          <span>
            {{ propertyName['ISBN'] }}.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>