<div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
  <header id="{{ entities['Publications']?.key }}" #clickablePublications (keypress)="keypress($event)"
    (click)="saveToggle($event)" data-toggle="collapse" [attr.data-target]="'#' + entities['Publications']?.content"
    [attr.aria-labelledby]="tabName('Publications')">
    <h3>
      <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Publications'}"></ng-container>
      <app-sorter #sorter [sortFieldsKey]="SorterKind.Publications" [type]="'Publications'"></app-sorter>
      <ng-container *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('Publications')}">
      </ng-container>
    </h3>
  </header>
  <div id="{{ entities['Publications']?.content }}" class="collapse show">
    <div [ngClass]="portfolioService.pagination ? 'tryKeepTogether' : ''">
      <header id="{{ entities['Publications Index']?.key }}" #clickablePublicationIndex (keypress)="keypress($event)"
        (click)="saveToggle($event)" data-toggle="collapse"
        [attr.data-target]="'#' + entities['Publications Index']?.content"
        [attr.aria-labelledby]="tabName('Publications Index')">
        <h4 class="print-hidden">
          <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Publications Index'}"></ng-container>
          {{ entities['Publications Index']?.section }}
          <ng-container
            *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('Publications Index')}">
          </ng-container>
        </h4>
      </header>
      <div #nextSort id="{{ entities['Publications Index']?.content }}" class="collapse show"
        (click)="sorter.nextSort($event)" (keypress)="sorter.keypress($event)" [title]="sorter.nextSortTitle"
        [attr.aria-labelledby]="uiService.label(nextSort.id)">
        <ng-container
          *ngFor="let publication of truncatorService.truncated(sorterService.sorted(filtered.Publications)); let i = index; trackBy: trackByFn">
          <ng-container *ngIf="i > 0">&nbsp;{{ frequenciesDivider }} </ng-container>
          <ng-container *ngComponentOutlet="PublicationIndexComponent;injector:getInjector(publication, i)">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="truncatorService.remainingLength(filtered.Publications) > 0">
          <span class="more">+{{ truncatorService.remainingLength(filtered.Publications) }}&nbsp;more… </span>
        </ng-container>
      </div>
    </div>

    <header id="{{ entities['Publications List']?.key }}" #clickablePublicationList (keypress)="keypress($event)"
      (click)="saveToggle($event)" data-toggle="collapse"
      [attr.data-target]="'#' + entities['Publications List']?.content"
      [attr.aria-labelledby]="tabName('Publications List')">
      <h4 class="print-hidden">
        <ng-container *ngTemplateOutlet="headerLink!;context:{key: 'Publications List'}"></ng-container>
        {{ entities['Publications List']?.section }}
        <ng-container
          *ngTemplateOutlet="sectionCounter!;context:{count: entitiesService.getCountValue('Publications List')}">
        </ng-container>
      </h4>
    </header>
    <div id="{{ entities['Publications List']?.content }}" class="collapse show">
      <div
        *ngFor="let publication of truncatorService.truncated(sorterService.sorted(filtered.Publications)); trackBy: trackByFn">
        <ng-container *ngComponentOutlet="PublicationListComponent;injector:getInjector(publication)"></ng-container>
      </div>
      <ng-container *ngIf="truncatorService.remainingLength(filtered.Publications) > 0">
        <div class="more">+{{ truncatorService.remainingLength(filtered.Publications) }}&nbsp;more… </div>
      </ng-container>
    </div>
  </div>
</div>