@import "../property/property.component.scss";
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

@media (min-width:768px) {
    .container-fluid {
        width: 50%;
        width: 50vh;
    }
}

.avatar {
    width: 798px;
    width: 50vh;
    height: 798px;
    height: 50vh;
    margin: 15px;
    background: url("/assets/images/Jorich.jpg") no-repeat 50%;
    background-size: auto auto;
    background-size: cover;
}

div[class^="col-"],
div[class*=" col-"] {
    border-color: transparent;
}

.microprinted {
    $alpha: -0.99;
    $c: transparent;
    $m: adjust-color(green, $alpha: $alpha);
    $y: adjust-color(blue, $alpha: $alpha);
    background: repeating-radial-gradient( circle at top left, $c, $y 1em, $m 2em, $c 3em), repeating-radial-gradient( circle at bottom left, $c, $y 1em, $m 2em, $c 3em), repeating-radial-gradient( circle at top right, $c, $y 1em, $m 2em, $c 3em), repeating-radial-gradient( circle at bottom right, $c, $y 1em, $m 2em, $c 3em);
}
