<div class="vertical-center">
  <div class="container-fluid">
    <div class="row">
      <div class="avatar col-md-12">
      </div>
    </div>
    <h1 [class.decorations]="decorations">{{ name }}</h1>
    <div class="row banded">
      <div class="col-md-9 cell-key">
        {{ ui['40 key']?.text }}
      </div>
      <div class="col-md-3 cell-value">
        {{ ui['40 value']?.text }}
      </div>
    </div>
    <div class="row banded">
      <div class="col-md-9 cell-key">
        {{ ui['30 key']?.text }}
      </div>
      <div class="col-md-3 cell-value">
        {{ ui['30 value']?.text }}
      </div>
    </div>
    <div class="row banded">
      <div class="col-md-9 cell-key">
        {{ ui['20 key']?.text }}
      </div>
      <div class="col-md-3 cell-value">
        {{ ui['20 value']?.text }}
      </div>
    </div>
    <div class="row banded">
      <div class="col-md-9 cell-key">
        {{ ui['10 key']?.text }}
      </div>
      <div class="col-md-3 cell-value">
        {{ ui['10 value']?.text }}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <app-soc-bar></app-soc-bar>
      </div>
    </div>
  </div>
</div>