<div class="vertical-center microprinted">
  <div class="container-fluid">
    <div class="row">
      <div class="avatar col-md-12">
      </div>
    </div>
    <h1>{{ name }}</h1>
    <div class="row">
      <div class="col-md-9 cell-key">
        Astronomy, Skiing &amp; Music
      </div>
      <div class="col-md-3 cell-value">
        40+ years
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 cell-key">
        Computers &amp; English
      </div>
      <div class="col-md-3 cell-value">
        30+ years
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 cell-key">
        Software engineering, Finland, Hiking, Ecology &amp; Birdwatching
      </div>
      <div class="col-md-3 cell-value">
        20+ years
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 cell-key">
        Eclipse chasing
      </div>
      <div class="col-md-3 cell-value">
        10+ years
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <app-soc-bar></app-soc-bar>
      </div>
    </div>
  </div>
</div>