<span class="form-inline">
  <span class="d-print-none extra-function" [attr.aria-labelledby]="uiService.label(value) + position" #clickableToggle
    (keypress)="inputService.keypress($event)" (click)="$event.stopPropagation()" [title]="uiService.uiText(value)">
    <label [id]="uiService.label(value) + position" [for]="value + ' checkbox' + position" class="form-label"
      [ngClass]="decorations ? 'switch' : 'checkbox'">
      <input #inputToggle [ngClass]="decorations ? '' : 'form-control bd-highlight'" type="checkbox"
        [id]="value + ' checkbox' + position" [(ngModel)]="model" name="model" value="" role="checkbox"
        [attr.aria-labelledby]="uiService.label(value) + position">

      <ng-container *ngIf="decorations else elseBlockToggle">
        <span class="{{ sliderClass }} round"></span>
      </ng-container>
      <ng-template #elseBlockToggle>
        <span style="white-space: nowrap;">&nbsp;{{ uiService.uiText(displayValue) }}</span>
      </ng-template>
    </label>
  </span>
</span>