@use "../stylesheets/stylesheets.component";

.caption {
    align-self: end;
    bottom: 14px;
    position: relative;
    left: 10px;
    line-height: 0.6;
    z-index: -1;
}

@media only screen and (width <=767px) {
    .caption {
        top: 4px;
        left: 33px;
    }
}