<ng-template #accomplishment let-propertyName="propertyName">
    <div class="detail">
        <ng-container>
            {{ propertyName['Level'] }}
        </ng-container>
    </div>
</ng-template>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 cell-key">
            <ng-container>
                {{ propertyName['Language'] }}:
            </ng-container>
        </div>
        <div class="col-md-9 cell-value">
            <ng-container *ngTemplateOutlet="accomplishment!;context:{propertyName: propertyName}"></ng-container>
        </div>
    </div>
</div>