<div class="form-inline justify-content-between">
    <div class="form-group flex-grow-1">
        <span class="form-label text-header px-2">{{ uiService.uiText('Theme') }}</span>
        <div class="form-group flex-grow-1">
            <span class="form-label text-header px-2">{{ uiService.uiText('name') }}</span>
            <input #theme class="form-control mr-sm-2 flex-grow-1 bd-highlight" type="text"
                [(ngModel)]="themeChangerService.theme" />
        </div>
        <div class="form-group flex-grow-1">
            <span class="form-label text-header px-2">{{ uiService.uiText('background') }}</span>
            <input #themeBackground class="form-control mr-sm-2 flex-grow-1 bd-highlight" type="text"
                [(ngModel)]="themeChangerService.themeBackground" />
        </div>
    </div>
</div>