<div [ngClass]="portfolioService.toolbarService.pagination ? 'tryKeepTogether' : ''">
  <div [ngClass]="portfolioService.toolbarService.getColumnsClass(entities['Personal Data']?.columns!)">
    <app-header key="Personal Data" [headingLevel]="2" [toggles]="[ToggleKind.ContentColumns]"></app-header>
    <div id="{{ entities['Personal Data']?.content }}" class="collapse show">
      <div [ngClass]="portfolioService.toolbarService.getColumnsClass(entities['Personal Data']?.contentColumns!)">
        @for (personalData of cv['Personal data']; track trackByFn($index, personalData)) {
          <div>
            <app-personal-data [propertyName]="personalData"></app-personal-data>
          </div>
        }
      </div>
    </div>
  </div>
</div>

<div [ngClass]="portfolioService.toolbarService.getColumnsClass(entities['Background']?.columns!)">
  <app-header key="Background" [headingLevel]="2" [toggles]="[ToggleKind.ContentColumns]">
  </app-header>
  <div id="{{ entities['Background']?.content }}" class="collapse show">
    <div [ngClass]="portfolioService.toolbarService.getColumnsClass(entities['Background']?.contentColumns!)">
      <div [ngClass]="portfolioService.toolbarService.pagination ? 'tryKeepTogether' : ''">
        <app-header key="Professional Experience" [headingLevel]="3">
        </app-header>
        <div id="{{ entities['Professional Experience']?.content }}" class="collapse show">
          @for (professionalExperience of cv['Professional experience']; track trackByFn($index, professionalExperience)) {
            <div>
              <app-professional-experience [propertyName]="professionalExperience"></app-professional-experience>
            </div>
          }
        </div>
      </div>

      <div [ngClass]="portfolioService.toolbarService.pagination ? 'tryKeepTogether' : ''">
        <app-header key="Education" [headingLevel]="3"></app-header>
        <div id="{{ entities['Education']?.content }}" class="collapse show">
          @for (education of cv['Education']; track trackByFn($index, education)) {
            <div>
              <app-education [propertyName]="education"></app-education>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>