@use "../stylesheets/stylesheets.component" as component;
@use "../stylesheets/stylesheets.component.color" as color;

input {
    height: 1.75em;
    border: none;
    font-size: 30px;
    border-radius: component.$border-radius;
}

#delete {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 30px;
    cursor: pointer;
    color: color.$header-fore-color;
}
