<header #clickableTab [id]="context?.id" role="tab" [class.selected]="contextEquals(context, selectedContext)"
  [class.collapsed]="context !== selectedContext" (click)="onSelect($event, context)"
  (keypress)="inputService.keypress($event)" [attr.aria-label]="uiService.label('Select context ' + context?.id)">
  <ng-container *ngIf="isEditing && selectedContext && contextEquals(context, selectedContext); else elseBlock">
    <div class="btn-group">
      <input type="text" #input class="form-control bd-highlight" id="context-name" [(ngModel)]="context.name"
        placeholder="Name this context" [attr.aria-label]="uiService.label('Name this context')" [title]="" />
      <span #clickableDelete id="delete" (click)="onDelete($event)" (keypress)="inputService.keypress($event)"
        [attr.aria-label]="uiService.label('Delete this context')" [title]="uiService.uiText('Delete this context')">{{
        uiService.uiText('Delete') }}</span>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <h1 class="caption" [class.selected]="contextEquals(context, selectedContext)"
      [class.semi-open]="navState === NavState.SemiOpen" [title]="title">
      {{ caption }}
    </h1>
  </ng-template>
</header>