@use "../project/project.component.scss";
@use "../stylesheets/stylesheets.component.color.scss" as color;

table {
    table-layout: fixed;
    word-wrap: break-word;
    
    font-size: 14px;
}

td, th {
  padding: 1px 4px;
}

a {
  padding: 0px;
  margin: 0px;
}

.list-row {
    border-color: color.$table-border-color;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
}

.contemporary {
    background-color: color.$contemporary-period-color;
}

.warning {
    background-color: color.$modern-age-color;
}

.info {
    background-color: color.$renaissance-color;
}

.success {
    background-color: color.$dark-ages-color;
}

@media print { 
    .table td, .table th { 
        background-color:color.$list-back-color !important; 
    } 
}
