<div *ngIf="portfolioService.toolbarService.editMode || !portfolioService.persistenceService.getToggleValue(key)"
  [ngClass]="portfolioService.toolbarService.getColumnsClass(entities[key]?.columns!)">
  <app-header [key]="key" [headingLevel]="1" [toggles]="[ToggleKind.ContentColumns, ToggleKind.Expand]"></app-header>
  <div id="{{ entities[key]?.content }}" class="collapse show">
    <div [ngClass]="portfolioService.toolbarService.getColumnsClass(entities[key]?.contentColumns!)">
      <div class="disclaimer center">
        <span [ngClass]="'row'" style="height: 2px;">&nbsp;</span>
        <span [ngClass]="Expand?'row justify-content-center':''" *ngFor='let group of Config; trackBy: trackByFn'>
          <ng-container>&nbsp;</ng-container>
          <ng-container *ngFor="let Config of group; trackBy: trackByFn">
            <app-badge [key]="Config" [replacementMap]="{ version: version }">
            </app-badge>
          </ng-container>
        </span>
      </div>
    </div>
    <hr>
  </div>
</div>