<div class="tryKeepTogether">
  <ng-container *ngIf="3 > 0">
    <header id="{{ entities['Personal Data']?.key }}" data-toggle="collapse" data-target="#PersonalDataContent" [attr.aria-labelledby]="tabName('Personal Data')">
      <h2>{{ entities['Personal Data']?.section }} (3)</h2>
    </header>
    <div id="PersonalDataContent" class="collapse show">
      <ng-container *ngComponentOutlet="PersonalDataComponent;injector:getInjector(cv['Personal data'])"></ng-container>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="count(cv['Professional experience'], 'Period') + count(cv['Education'], 'Period') > 0">
  <header id="{{ entities['Background']?.key }}" data-toggle="collapse" data-target="#BackgroundContent" [attr.aria-labelledby]="tabName('Background')">
    <h2>{{ entities['Background']?.section }} ({{ count(cv['Professional experience'], 'Period') + count(cv['Education'], 'Period')
      }})
    </h2>
  </header>
  <div id="BackgroundContent" class="collapse show">
    <div class="tryKeepTogether">
      <ng-container *ngIf="count(cv['Professional experience'], 'Period') > 0">
        <header id="{{ entities['Professional Experience']?.key }}" data-toggle="collapse" data-target="#ProfessionalExperienceContent"
          [attr.aria-labelledby]="tabName('Professional Experience')">
          <h3>{{ entities['Professional Experience']?.section }} ({{ count(cv['Professional experience'], 'Period') }})
          </h3>
        </header>
        <div id="ProfessionalExperienceContent" class="collapse show">
          <div *ngFor="let professionalExperience of cv['Professional experience']">
            <ng-container *ngComponentOutlet="ProfessionalExperienceComponent;injector:getInjector(professionalExperience)"></ng-container>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="tryKeepTogether">
      <ng-container *ngIf="count(cv['Education'], 'Period') > 0">
        <header id="{{ entities['Education']?.key }}" data-toggle="collapse" data-target="#EducationContent" [attr.aria-labelledby]="tabName('Education')">
          <h3>{{ entities['Education']?.section }} ({{ count(cv['Education'], 'Period') }})</h3>
        </header>
        <div id="EducationContent" class="collapse show">
          <div *ngFor="let school of cv['Education']">
            <ng-container *ngComponentOutlet="EducationComponent;injector:getInjector(school)"></ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="count(cv['Certifications'], 'Certification', '~') + count(cv['Languages'], 'Language') + countCache['Name'] + countCache['Title'] > 0">
  <header id="{{ entities['Accomplishments']?.key }}" data-toggle="collapse" data-target="#AccomplishmentsContent" [attr.aria-labelledby]="tabName('Accomplishments')">
    <h2>{{ entities['Accomplishments']?.section }} ({{ count(cv['Certifications'], 'Certification', '~') + count(cv['Languages'],
      'Language') + countCache['Name'] + countCache['Title'] }})</h2>
  </header>
  <div id="AccomplishmentsContent" class="collapse show">
    <div class="tryKeepTogether">
      <ng-container *ngIf="count(cv['Certifications'], 'Certification', '~') > 0">
        <header id="{{ entities['Certifications']?.key }}" data-toggle="collapse" data-target="#CertificationsContent" [attr.aria-labelledby]="tabName('Certifications')">
          <h3>{{ entities['Certifications']?.section }} ({{ count(cv['Certifications'], 'Certification', '~') }})</h3>
        </header>
        <div id="CertificationsContent" class="collapse show">
          <div *ngFor="let certification of cv['Certifications']">
            <ng-container *ngComponentOutlet="CertificationComponent;injector:getInjector(certification)"></ng-container>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="tryKeepTogether">
      <ng-container *ngIf="count(cv['Languages'], 'Language') > 0">
        <header id="{{ entities['Languages']?.key }}" data-toggle="collapse" data-target="#LanguagesContent" [attr.aria-labelledby]="tabName('Languages')">
          <h3>{{ entities['Languages']?.section }} ({{ count(cv['Languages'], 'Language') }})</h3>
        </header>
        <div id="LanguagesContent" class="collapse show" align="center">
          <app-language [propertyName]=""></app-language>
          <!-- <ng-container *ngComponentOutlet="LanguageComponent;injector:getInjector({})"></ng-container> -->
        </div>
      </ng-container>
    </div>

    <div class="tryKeepTogether">
      <ng-container *ngIf="countCache['Name'] > 0">
        <header id="{{ entities['Courses']?.key }}" data-toggle="collapse" data-target="#CoursesContent" [attr.aria-labelledby]="tabName('Courses')">
          <h3>{{ entities['Courses']?.section }} ({{ countCache['Name'] }})</h3>
        </header>
        <div id="CoursesContent" class="collapse show">
          <div class="tryKeepTogether">
            <ng-container *ngIf="countCache['Name'] > 0">
              <header id="{{ entities['Courses Index']?.key }}" data-toggle="collapse" data-target="#CoursesIndexContent" [attr.aria-labelledby]="tabName('Courses Index')">
                <h4>{{ entities['Courses Index']?.section }} ({{ countCache['Name'] }})</h4>
              </header>
              <div id="CoursesIndexContent" class="collapse show">
                <span *ngFor="let course of filteredAccomplishments; let i = index;">
                  <app-course-index [propertyName]="course" [i]="i"></app-course-index>
                  <!-- <ng-container *ngComponentOutlet="CourseIndexComponent;injector:getInjector(course, i)"></ng-container> -->
                </span>
              </div>
            </ng-container>
          </div>

          <ng-container *ngIf="countCache['Name'] > 0">
            <header id="{{ entities['Courses List']?.key }}" data-toggle="collapse" data-target="#CoursesListContent" [attr.aria-labelledby]="tabName('Courses List')">
              <h4>{{ entities['Courses List']?.section }} ({{ countCache['Name'] }})</h4>
            </header>
            <div id="CoursesListContent" class="collapse show">
              <div *ngFor="let course of filteredAccomplishments">
                <ng-container *ngComponentOutlet="CourseComponent;injector:getInjector(course)"></ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <div class="tryKeepTogether">
      <ng-container *ngIf="countCache['Title'] > 0">
        <header id="{{ entities['Publications']?.key }}" data-toggle="collapse" data-target="#PublicationsContent" [attr.aria-labelledby]="tabName('Publications')">
          <h3>{{ entities['Publications']?.section }} ({{ countCache['Title'] }})</h3>
        </header>
        <div id="PublicationsContent" class="collapse show">
          <div *ngFor="let publication of filteredPublications">
            <ng-container *ngComponentOutlet="PublicationComponent;injector:getInjector(publication)"></ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>