<ng-container *ngIf="tagCloud==this.tagCloudDisplayMode.tagCloud || tagCloud==this.tagCloudDisplayMode.both">
  <ng-container *ngFor="let frequency of getFrequenciesCache(key); let i = index; trackBy: trackByFn">
    <ng-container *ngIf="i > 0">&nbsp;{{ frequenciesDivider }} </ng-container>
    <ng-container class='frequency'>
      <a [ngStyle]="{color: 'hsl(120, 0%, '+frequency[1].Lightness+'%)'}" #clickable (keypress)="keypress($event)" (click)='updateSearchToken(frequency[0]);'
        title="{{ frequency[1].Label + '\n\n' + ui['Search for this']?.text }}"
        [attr.aria-label]="frequency[0]">{{ frequency[0] }}</a>
    </ng-container>
  </ng-container>
</ng-container>
<ng-container *ngIf="tagCloud==this.tagCloudDisplayMode.chart || tagCloud==this.tagCloudDisplayMode.both">
  <div *ngIf="getFrequenciesCache(key)?.length || 0 > 0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 cell-value">
          <canvas #canvas id="{{ entities[key]?.chart }}" height="{{ chartHeight }}" width="{{ chartWidth }}"
            class="spectrum-chart" style="width: 100%;"></canvas>
        </div>
      </div>
    </div>
  </div>
</ng-container>