<div role="search" class="mx-auto py-1">
  <div class="form-horizontal d-flex bd-highlight">
    <input class="form-control mr-sm-2 flex-grow-1 bd-highlight" type="search" id="Search{{ position }}" [ngModel]="searchToken"
      (ngModelChange)="onFieldChange($event)" aria-label="Search" placeholder="{{ ui['Search'].text }}" />
    <button type="button" class="btn close p-0 bd-highlight" aria-label="Clear Search" (click)="clearSearch()" title="{{ ui['Clear Search'].text }}"
      style="height:35px; width:35px">
      <span aria-hidden="true">{{ ui['Delete'].text }}</span>
    </button>
    <button type="button" class="btn close p-0 bd-highlight text-danger" aria-label="Start All Over" (click)="startAllOver()" title="{{ ui['Start All Over'].text }}"
      style="height:35px; width:35px">
      <span aria-hidden="true">{{ ui['Delete'].text }}</span>
    </button>
  </div>
</div>