@import "../portfolio/portfolio.component.scss";
.cell-header {
    font-size: 14px;
    color: $header-fore-color;
}

div[class^="col-"].cell-title {
    background-color: $cell-title-color;
}

div[class^="col-"].cell-capacity {
    background-color: $cell-capacity-color;
}

div[class^="col-"].cell-normal {
    background-color: $cell-normal-color;
}

div[class^="col-"].cell-feature {
    background-color: $cell-feature-color;
}

div[class^="col-"].cell-faded {
    background-color: $cell-faded-color;
}

div[class^="col-"].cell-key {
    color: $header-fore-color;
    border-color: transparent;
}

div[class^="col-"].cell-value {
    border-color: transparent;
}

div[class^="col-"].cell-title.faded-fore,
div[class^="col-"].cell-faded.faded-fore,
.cell-header.faded-fore {
    color: $faded-fore-color;
}