@if (portfolioService.toolbarService.editMode || !portfolioService.persistenceService.getToggleValue(key)) {
  <div
    [ngClass]="portfolioService.toolbarService.getColumnsClass(entities[key]?.columns!)">
    <app-header [key]="key" [headingLevel]="1" [toggles]="[ToggleKind.ContentColumns, ToggleKind.Expand]"></app-header>
    <div id="{{ entities[key]?.content }}" class="collapse show">
      <div [ngClass]="portfolioService.toolbarService.getColumnsClass(entities[key]?.contentColumns!)">
        <div class="disclaimer center">
          <span [ngClass]="'row'" style="height: 2px;">&nbsp;</span>
          @for (group of Config; track trackByFn($index, group)) {
            <span [ngClass]="Expand?'row justify-content-center':''">
              <ng-container>&nbsp;</ng-container>
              @for (Config of group; track trackByFn($index, Config)) {
                <app-badge [key]="Config" [replacementMap]="{}">
                </app-badge>
              }
            </span>
          }
        </div>
      </div>
      <hr>
      </div>
    </div>
  }