@use "stylesheets.component.color" as color;

@mixin columns($count) {
    // $gap: 40px; // normal
    $gap: 20px; // half-normal

    column-count: $count;
    column-gap: $gap;
}

@for $i from 1 through 32 {
    .columns#{$i} {
        @include columns($i);
    }
}

hr {
    display: var(--hr-display);
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px color.$rule-color inset;
}

.page-break {
    // display: block;
    break-before: always;
}

.try-keep-together {
    break-inside: avoid;
}
