@use "sass:math";
@use "sass:meta";
@use "stylesheets.component.color" as color;
@use "stylesheets.component.sizing" as sizing;
@use "stylesheets.component.columns" as columns;
@use "stylesheets.component.print" as print;
@use "stylesheets.component.screen" as screen;
@use "stylesheets.component.animation" as animation;


:root {
    --button-size: 35px;
    --box-shadow-depth: calc(var(--appearance-3d) * 10px);
}

$button-size: var(--button-size);
$border-radius: 0.25rem !default;

body {
    color: color.$primary-color;
    background-color: color.$primary-background-color;
    background-position: left top;
    background-size: 100% 100%;
    background-repeat: repeat;
}

.emoji {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// $material-icon-size: 24px;
.text-icons {
    font-family: monospace; // 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;

    // font-size: $material-icon-size;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    overflow-wrap: normal;
    direction: ltr;

    // -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

@for $i from 1 through 6 {
    h#{$i} {
        break-after: avoid;
        margin-top: 4px;
        color: color.$outline-color;
        min-width: 100%;

        &:hover {
            color: color.$dark-outline-color;
        }

        .header-link {
            // vertical-align: middle;
            // visibility: hidden;
            @media (width <=768px) {
                float: right;
                margin-left: 0;
            }

            box-sizing: border-box;
            display: inline-block;

            // margin-left: -$material-icon-size + 6px; // -42px;
            text-decoration: none;
            user-select: none;
        }

        // &:hover .header-link {
        //     visibility: visible;
        // }
    }
}

div[class^="col-"],
div[class*=" col-"] {
    padding: 5px;
    border: 2px solid color.$table-border-color;
    color: color.$primary-color;
}

.row {
    overflow: hidden;
}

.pair-header {
    color: color.$header-fore-color;
}

div[class^="col-"].cell-key {
    color: color.$header-fore-color;
    border-color: transparent;
}

div[class^="col-"].cell-value {
    border-color: transparent;
}

.container-fluid.border {
    border: 4px solid color.$border-color;
}

.disclaimer {
    color: color.$header-fore-color;
    font-size: 14px;
}

.detail {
    font-size: 16px;

    .detail-emphasis {
        font-style: italic;
    }
}

.detail-hanging {
    @extend .detail;

    white-space: pre-wrap;
    margin-left: -0.67em;
    text-indent: 0.67em;
}

.detail-highlight {
    font-weight: bold;
}

.detail-heavy-highlight {
    @extend .detail-highlight;

    text-transform: uppercase;
    letter-spacing: 1pt;
}

$hsl-count: 13;

@for $i from 1 through $hsl-count {
    $h: math.div(($i + $hsl-count * 0.5), $hsl-count) * 360;
    $s: 70%;
    $l: calc(60% * (1 - var(--contrast-enhancer)));

    .hsl#{$i} {
        color: hsl($h, $s, $l);

        &:hover {
            color: hsl($h, $s, calc(#{$l} * 50%));
        }
    }

    .hsl#{$i}b {
        @extend .hsl#{$i};

        font-weight: 900;

        &:hover {
            // @extend .hsl#{$i}:hover;
            color: hsl($h, $s, calc(#{$l} * 50%));
            font-weight: 900;
        }
    }
}

@mixin hover-highlight() {
    background-color: color.$hover-color !important;
    color: color.$dark-outline-color !important;
}

@mixin appearance-3d-aware() {
    box-shadow:
        var(--box-shadow-depth) var(--box-shadow-depth) var(--box-shadow-depth) calc(-1 * var(--box-shadow-depth)) color.$rule-color;
}

@mixin appearance-3d-aware-inset() {
    box-shadow:
        var(--box-shadow-depth) var(--box-shadow-depth) var(--box-shadow-depth) calc(-1 * var(--box-shadow-depth)) color.$rule-color inset;
}

header {
    @media (width <=768px) {
        padding-bottom: 1px;
    }

    cursor: pointer;
    border-radius: $border-radius;
    transition: animation.$transition;

    &:hover {
        @include hover-highlight;
    }

    &.collapsed {
        @include appearance-3d-aware;

        background-color: color.$inactive-outline-color;
    }
}

a {
    text-decoration: none;
    padding: 1px;
    color: color.$outline-color;

    &:hover {
        @include hover-highlight;
    }

    &.external {
        background-image: url("/assets/images/external.svg");
        background-position: center right;
        background-repeat: no-repeat;
        padding-right: 13px;
    }
}

td a {
    display: block;
}

.frequency {
    cursor: pointer;

    &:hover {
        color: color.$dark-outline-color !important;
    }
}

.btn {
    &.active,
    &:hover {
        @include hover-highlight;
    }
}

.collapsed {
    @include appearance-3d-aware;

    color: color.$dark-outline-color;
}

.center {
    text-align: center;
}

.thumbnail {
    max-width: 50px;
    max-height: 50px;
    padding: 2px;
}

.btn-square {
    width: $button-size;
    height: $button-size;
    border: 0;
}

.nowrap {
    white-space: nowrap;
}

.clear-both {
    clear: both;
}

.extra-function {
    font-size: 16px;
    line-height: 1.6;
    padding: 3px;
    display: inline-block;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;

    .checkbox-inline,
    .radio-inline {
        padding: 5px;
        display: inline-block;

        &:hover {
            @include hover-highlight;
        }
    }

    label input {
        margin-right: 2px;
    }
}

.form-control[type="number"] {
    width: 5em;
}

.form-control[type="checkbox"] {
    width: 2em;
}

.form-control[type="radio"] {
    width: 2em;
}

#go-to-top-btn {
    @media (width <=768px) {
        right: 32px;
    }

    display: none;
    position: fixed;
    bottom: 55px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    color: color.$go-to-top-btn-color;
    background-color: color.$go-to-top-btn-background-color;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

.ghost {
    color: color.$ghost-outline-color;
}

.toolbar {
    float: right;
}

span.more {
    float: right;
}

div.more {
    text-align: right;
}

.navbar-brand-img {
    width: 150px;
}

.text-header {
    color: color.$header-fore-color;
}

.border-right {
    border-right: 2px solid color.$header-fore-color !important;
}

@include meta.load-css("../stylesheets/stylesheets.component.decorations");