@use "stylesheets.component.color" as color;

h1.decorations {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2pt;
}

h2.decorations {
  @media print {
    padding-bottom: 2px;
  }
  border-top: 2px solid color.$ghost-outline-color;
  border-bottom: 1px solid color.$ghost-outline-color;
}
