.full-chart {
    display: block;
    float: left;
    max-width: 100%;
}

.part-chart {
    @extend .full-chart;

    width: 100%;
}

.language-chart {
    @extend .part-chart;

    max-height: 230px;
    max-width: 660px;
}

.spectrum-chart {
    @extend .part-chart;
}