@use "sass:color";

$transition: 0.5s;

.microprinted {
    $alpha: -0.99;
    $c: transparent;
    $m: color.adjust(green, $alpha: $alpha);
    $y: color.adjust(blue, $alpha: $alpha);
    background:
        repeating-radial-gradient(circle at top left, $c, $y 1em, $m 2em, $c 3em),
        repeating-radial-gradient(circle at bottom left, $c, $y 1em, $m 2em, $c 3em),
        repeating-radial-gradient(circle at top right, $c, $y 1em, $m 2em, $c 3em),
        repeating-radial-gradient(circle at bottom right, $c, $y 1em, $m 2em, $c 3em);
}

.animate-in {
    animation: fade-in $transition;
}

.animate-out {
    transition: opacity $transition;
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
