@media print {
    @media (width >=768px) {
        div[class^="col-"].cell-key {
            text-align: right;
        }
    }
    
    // // normal
    // @page {
    //     margin-top: 25mm;
    // }
    // body {
    //     margin: 0mm 25mm 36.7mm 25mm;
    // }

    // // half-normal
    // @page {
    //     margin-top: 12.5mm;
    // }
    // body {
    //     margin: 0mm 12.5mm 18.35mm 12.5mm;
    // }
    
    // // standard
    // @page {
    //     margin-top: 25.4mm; // 1st page
    //     margin-top: 19mm;   // rest
    // }
    // body {
    //     margin: 0mm 13.2mm 36.7mm 19mm;
    // }

    // half-standard
    @page { // 1st page
        margin-top: 9.5mm;   // rest
    }

    @for $i from 1 through 6 {
        h#{$i} {
            // indented
            // padding-left: 6px;

            // aligned
            padding-left: 0;
            margin-left: -8px;
            margin-bottom: 0;
        }
    }

    .collapsed {
        display: none;
    }

    body {
        margin: 0 6.6mm 18.35mm 9.5mm;
    }

    .print-hidden {
        display: none;
    }
}
