<!-- TODO: reuse this template. -->
<ng-template #headerLink let-key="key">
  <a [ngClass]="[(entities[key]?.class ? entities[key]?.class : ''), 'header-link']" (click)="$event.stopPropagation()" title="{{ linkToThisText }}"
    href="/{{ componentName }}#{{ key }}" role="tab">
    <i class="material-icons d-print-none">{{ linkToThisSymbol }}</i>
  </a>
</ng-template>

<div *ngIf="generalTimelineDefined">
  <div class="tryKeepTogether page-break">
    <header id="{{ entities['General Timeline']?.key }}" (click)="saveToggle($event)" data-toggle="collapse" [attr.data-target]="'#' + entities['General Timeline']?.content"
      [attr.aria-labelledby]="tabName('General Timeline')">
      <h1>
        <ng-container *ngTemplateOutlet="headerLink;context:{key: 'General Timeline'}"></ng-container>
        {{ entities['General Timeline']?.section }}
        <ng-container *ngIf="filteredTimelineEvents.length > 0">
          ({{ filteredTimelineEvents.length }})
        </ng-container>
      </h1>
    </header>
    <div id="{{ entities['General Timeline']?.content }}" class="collapse show">
      <div class="columns1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 cell-value">
              <canvas id="General Timeline chart" height="1800" width="1600" class="full-chart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>