<span class="form-inline" *ngIf="truncatorKind > -1">
  <span class="d-print-none extra-function" [attr.aria-labelledby]="uiService.label(context.value)"
    #clickableFocusThreshold (keypress)="inputService.keypress($event)" (click)="$event.stopPropagation()"
    [title]="uiService.uiText(context.value)">
    <label [id]="uiService.label(context.value)" [for]="context.value + ' number'" class="form-label checkbox-inline">
      <ng-container *ngIf="!portfolioService.toolbarService.decorations">
        {{ uiService.uiText(context.displayValue) }}:&nbsp;
      </ng-container>
      <input #inputFocusThreshold class="form-control bd-highlight" type="number" [id]="context.value + ' number'"
        [ngModel]="context.model" (ngModelChange)="truncatorService?.modelChange(context.propertyName, $event)"
        role="spinbutton" [attr.aria-labelledby]="uiService.label(context.value)" min="0" max="1000" step="5"
        value="context.value">
    </label>
  </span>

  <app-toggle #tagCloudEmphasisToggle [toggleKind]="ToggleKind.TagCloudEmphasis" [entityKey]="longTruncatorKind"
    [context]="tagCloudEmphasisContext">
  </app-toggle>
</span>