<div class="center py-1" role="tablist">
  <span class="text-header">{{ portfolioService.model.ui['Jump to']?.text }}</span>
  @for (key of entities | keys; track trackByFn(i, key); let i = $index) {
    @if (entities[key].class !== '' && (portfolioService.toolbarService.editMode || !portfolioService.persistenceService.getToggleValue(key))) {
      <span role="tab" class="tab" id="{{ tabName(key) + position }}">
        <a title="{{ linkToThisText }}" href="/{{ componentName }}#{{ key }}">
          <span class="text-icons {{ entities[key].class }}">{{ linkToThisSymbol }}</span>
          {{ nonBreaking(decorateMain(key)) }}
          @if (entities[key].key.includes('Map')) {
            <em class="fas fa-chart-line"></em>
            <span class="text-header">{{ nonBreaking(' ') }}</span>
          }
          <span class="d-inline-block" style="width: 3em">
            <span class="text-header">{{ count(key) }}</span>
          </span>
        </a>
      </span>
    }
  }
</div>
